<%= javascript_include_tag 'angular_event_creator_app' %>

<div class="create-event-panel" id="create-event-panel">
  <div class="suggested-date-times" id="datesVerificationsManager" data-date-times="<%= (local_assigns[:julie_action].message_classification.date_times || "[]")%>" ng-controller="datesVerificationManager as datesVerifMng">
    <div class="timezone-selection-area">
      <%= label_tag :event_creation_timezone, @messages_thread.computed_data[:is_virtual_appointment] ? I18n.t("info_box.timezone_for_virtual") : I18n.t("info_box.timezone_for_physical"), {class: 'dates-suggestion-timezone-label'} %>
      <%= text_field_tag :event_creation_timezone, @messages_thread.computed_data[:timezone] %>
    </div>

    <div class="data-entry">
        <!--<div class="data-entry-name"><%= I18n.t("info_box.dates_to_check") %></div>-->
        <div class="data-entry-value">
            <div class="suggested-date-time-container" ng-repeat="dateToCheck in datesToCheck track by $index">
              <div class="suggested-date-time btn btn-sm btn-default btn-block" ng-class="{'btn-primary':dateToCheck.isHighlighted, 'is-outbound':dateToCheck.isOutBound}" data-date="{{dateToCheck.date}}">
                <div class="text">{{dateToCheck.displayText}}</div>
              </div>
              <input type="checkbox" style="display: none;"/>
            </div>

            <div class="selected-date-details-area">
              <div class="data-entry-name">Date sélectionnée</div>

              <div class="content">
                  <div class="selected-date-time-other-timezone btn-block" ng-class="{'is-outbound':date.isOutBound}" ng-repeat="date in selectedDate.dateInOtherTimezones track by $index" ng-show="selectedDate.isHighlighted">
                    <span ng-class="{'out-of-bound-sprite':date.isOutBound}"></span>
                    <div class="timezone">{{date.timezone}}</div>
                    <br>
                    <div class="text">{{date.displayText}}</div>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div class="create-event-meeting-rooms-container">
      <div class="header">
        <input type="checkbox"><span class="text">Réservation de salle de réunion</span>
      </div>
      <div class="selection-area">
          <select class="create_event_room_selection_select form-control"></select>

          <div class="meeting_room_warning_area warning-area">
            <span class="sprite"></span><span class="meeting_room_non_available_msg text">Salle de réunion non disponible</span>
          </div>
      </div>
    </div>

    <div class="virtual-resources-details-container" style="display: none;">
      <div class="warning-area">
        <span class="sprite"></span><span class="virtual-resources-non-available-msg"></span>
      </div>
    </div>

    <button id="create-event-button" class="btn btn-success btn-block" ng-disabled="eventActionsDisabled()">
      <%= I18n.t("info_box.create_event") %>
    </button>

    <button id="invitation-already-sent-button" class="btn btn-success btn-brown btn-block" ng-disabled="eventActionsDisabled()">
      <%= I18n.t("info_box.invitation_already_sent") %>
    </button>

    <button id="no-date-fits" class="btn btn btn-default btn-block">
      <%= I18n.t("info_box.no_date_fits", count: JSON.parse(local_assigns[:julie_action].message_classification.date_times || "[]").length) %>
    </button>
    <div class="creating-event-message"></div>


  </div>


</div>