<%= javascript_include_tag 'angular_reply_box_app'%>

<div id="reply-box" data-tracking-id="<%= session[:operator_id]%>-<%= @messages_thread.id %>" data-bo-message-id=<%= @julie_action.message_classification.message_id %> data-action-nature="<%= @julie_action.message_classification.classification %>">
  <div class="highlighted-below-email">
    <div class="reply-box">
      <div class="from">
        <%= I18n.t("common.from") %>
        <select id="julie-alias-select">
          <% main_client_julie_aliases = (@messages_thread.account && @messages_thread.account.julie_aliases)  || [] %>
          <% @messages_thread.julie_aliases.each do |julie_alias| %>
              <option <%=  main_client_julie_aliases.include?(julie_alias.email) ? 'selected' : '' %>><%= julie_alias.email %></option>
          <% end %>
        </select>
        <% if @julie_action.action_nature == JulieAction::JD_ACTION_FREE_ACTION %>
            <div class="reply-to-buttons">
              <div class="reply-to-client-button btn btn-xs btn-default">Reply to client only</div>
              <div class="reply-to-all-button btn btn-xs btn-default">Reply to all</div>
            </div>
        <% end %>

        <% if [
            JulieAction::JD_ACTION_FORWARD_TO_SUPPORT,
            JulieAction::JD_ACTION_FOLLOW_UP_CLIENT,
            JulieAction::JD_ACTION_FREE_ACTION,
            JulieAction::JD_ACTION_SUGGEST_DATES,
            JulieAction::JD_ACTION_CHECK_AVAILABILITIES,
            JulieAction::JD_ACTION_WAIT_FOR_CONTACT,
            JulieAction::JD_ACTION_SEND_CONFIRMATION,
            JulieAction::JD_ACTION_UPDATE_EVENT
            ].include?(@julie_action.action_nature) %>


            <div class="template-manager-container">
              <div class="template-manager-menu-button"></div>
              <div class="template-manager-menu-wrapper">
                <div class="menu-container" tabindex="-1">
                  <div class="main-menu-container">
                    <div class="template-manager-search"><input id="template_manager_query_input" type="text" placeholder="Filter templates by name..."></div>
                    <div class="template-manager-menu"></div>
                  </div>
                  <div class="template-manager-sub-menu"></div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div id="recipients-manager" ng-controller="recipientsManager as recipientsMng">
        <div class="to">
          <span><%= I18n.t("common.to") %></span>
          <input id="recipients-to-input"/>
        </div>
        <div class="cc">
          <span><%= I18n.t("common.cc") %></span>
          <input id="recipients-cc-input"/>
        </div>
      </div>
        <div id="reply-area" ng-controller="replyBuilder as replyBldr">
          <textarea id="reply-text"></textarea>
        </div>

      <div id="reply-text-signature"></div>
      <div class="quote-message-container">
        <%= check_box_tag :quote_message, "", !@is_discussion_client_julie_only %>
        <%= I18n.t "common.quote_message" %>
      </div>

      <div id="restaurant_booking_not_possible_widget">
        <div class="restaurant-booking-not-possible-wrapper">
          <span class="sprite"></span>
          <span class="text">
            Réservation de restaurant moins d'un jour ouvré à l'avance impossible. Informez le client via Réponse Libre.
          </span>
        </div>
      </div>
      <span>
        <button class="btn btn-success" id="reply-button"><%= I18n.t("common.reply") %></button>
        <div id="reply-button-popover-warning-details-wrapper">
          <div id="reply-button-popover-warning-details"></div>
        </div>
        <div id="send-email-tooltip-holder"></div>
      </span>
      <button class="btn btn-success" id="forward-button"><%= I18n.t("common.forward") %></button>
      <div id="callback-message"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      trackActionV2('Email_to_send_opened', {first_time: !window.threadComputedData.appointment_nature, client_agreement: (window.classificationForm && window.classificationForm.clientAgreement) || 1})
  });
</script>

