<div class="header jd-global-header review">
  <%= link_to "/review" do %>
      JulieDesk Backoffice - Review <%= "<GROUP REVIEW>" if params[:action] == "group_review" %>
  <% end %>

  <% if params[:action] == "review" %>
      (<%= @to_review_count %>)
      <%= form_tag({action: :reviewed}, method: "post", id: 'review-form') do |f| %>
          <%= hidden_field_tag :data %>
          <%= submit_tag "Next", class: "btn btn-success" %>
      <% end %>
  <% end %>

  <% if params[:action] == "learn" %>
      (<%= @to_learn_count %>)
      <%= form_tag({action: :learnt}, method: "post", id: 'review-form') do |f| %>
          <%= hidden_field_tag :operator_id, params[:operator_id] %>
          <%= submit_tag "Next", class: "btn btn-success" %>
      <% end %>
  <% end %>

  <% if params[:action] == "group_review" %>
      (<%= @to_group_review_count %>)
      <%= form_tag({action: :group_reviewed}, method: "post", id: 'review-form') do |f| %>
          <%= submit_tag "Next", class: "btn btn-success" %>
      <% end %>
  <% end %>
</div>