<div class="header jd-global-header review <%= ENV['EY_DISPLAY'] ? "ey-skin" : nil %>">
  <% if params[:controller] == "turing_review/auto_message_classifications" %>
      <%= link_to action: :main do %>
          Julie Desk Backoffice <span class="dot ai"></span> Turing Review
      <% end %>
  <% else %>
    <%= link_to "/review" do %>
        JulieDesk Backoffice - Review <%= "<GROUP REVIEW>" if params[:action] == "group_review" %>
    <% end %>
  <% end %>

  <% if params[:controller] != "turing_review/auto_message_classifications" && params[:action] == "review" && !params[:no_next].present? %>
      (<%= @to_review_count %>)
      <%= form_tag({action: :reviewed}, method: "post", id: 'review-form') do |f| %>
          <%= hidden_field_tag :data %>
          <%= submit_tag "Next", class: "btn btn-success" %>
      <% end %>
  <% end %>

  <% if params[:controller] == "turing_review/auto_message_classifications" %>
      <%= form_tag({action: :reviewed}, method: "post", id: 'review-form') do |f| %>
          <%= hidden_field_tag :id, params[:id] %>
          <%= hidden_field_tag :batch_identifier, params[:batch_identifier] %>
          <%= hidden_field_tag :data %>
          <%= submit_tag "Next", class: "btn btn-success" %>
      <% end %>
  <% end %>

  <% if params[:action] == "learn" && !params[:no_next].present? %>
      (<%= @to_learn_count %>)
      <%= form_tag({action: :learnt}, method: "post", id: 'review-form') do |f| %>
          <%= hidden_field_tag :operator_id, params[:operator_id] %>
          <%= submit_tag "Next", class: "btn btn-success" %>
      <% end %>
  <% end %>

  <% if params[:action] == "group_review" %>
      (<%= @to_group_review_count %>)
      <%= form_tag({action: :group_reviewed}, method: "post", id: 'review-form') do |f| %>
          <%= submit_tag "Next", class: "btn btn-success" %>
      <% end %>
  <% end %>
</div>