<%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread, message: @message, classification: @classification} %>
<script src="/javascripts/chrono.min.js"></script>
<script>
  window.processingMessageThreadId = <%= @messages_thread.id %>;

  var isPostpone = <%= (@messages_thread.event_data[:event_id].present?)?"true":"false" %>;
  var classificationForm = window.classificationForms.createClassificationForm({
      classification:  "<%= @classification %>",
      startedAt: <%= params[:started_at] || (DateTime.now.to_i * 1000) %>,
      locale: "<%= I18n.locale %>",
      threadLocale:"<%= @messages_thread.computed_data[:locale] %>",
      isPostpone: isPostpone,
      messageId: "<%= @message.id %>",
      clientAgreement: window.threadComputedData.client_agreement && !isPostpone,
      alreadySuggestedDates: <%== @message.messages_thread.suggested_date_times.map{|dt| dt.to_s}.to_json %>
  });

  window.activateCalendarWithParams = function (calendarParams) {
      calendarParams.height = $(".calendar-container").height();
      calendarParams.other_emails = window.otherAccountEmails;
      if(window.threadAccount) {
          calendarParams.default_timezone_id = window.threadAccount.default_timezone_id;
      }
      calendarParams.additional_timezone_ids = [window.threadComputedData.timezone];

      calendarParams.constraintsData = _.groupBy(window.threadComputedData.constraints_data, function (data) {
          return data.attendee_email;
      });
      window.currentCalendar = new Calendar($(".calendar-container"), calendarParams);
      $(".calendar-container").addClass("visible");
  };
  $(function() {
      <% if @classification == MessageClassification::GIVE_INFO %>
          $("#show-calendar-button").click(function () {
              window.activateCalendarWithParams({
                  mode: "free_calendar",
                  date_times: [],
                  email: "<%= @message.messages_thread.account_email %>",
                  duration: <%= @message.messages_thread.computed_data[:duration] || 60 %>
              });
              $(".calendar-container").removeClass("minimized");
          });
      <% end %>
  });
</script>

<div class="fixed-columns">


  <div class="left-column">

    <%= render partial: "common/header" %>
    <% if @classification == MessageClassification::GIVE_INFO %>
        <div id="show-calendar-button" class="btn btn-sm btn-default in-classify"><%= I18n.t("actions.show_calendar") %></div>
        <%= render template: "calendar/calendar" %>
    <% end %>
    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">
      <%= render partial: "common/send_to_support", locals: {messages_thread: @messages_thread} %>

      <div id="back-button" class="btn btn-link">< <%= I18n.t("common.back")%></div>

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <% @messages_thread.messages.sort_by(&:received_at).each do |message| %>
          <%= render partial: "messages_threads/email", locals: {message: message, highlight: message.id == @message.id, expend: message.id == @message.id && message.received_at == @messages_thread.messages.map(&:received_at).min, highlight_message: I18n.t("classification_categories.#{message.classification_category_for_classification @classification}.classifications.#{@classification}.action")} %>
      <% end %>
    </div>
  </div>
</div>


