<%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread, message: @message, classification: @classification} %>

<div class="fixed-columns">


  <div class="left-column">

    <%= render partial: "common/header" %>

    <div class="julie-action-fantom"></div>
    <div class="messages-thread-emails">

      <div id="back-button" class="btn btn-link">< <%= I18n.t("common.back")%></div>

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <div class="forbidden-for-not-admin">
        <div class="forbidden-classification-message">
          <%= I18n.t("forbidden_classifications.#{@classification}") %>
          <br>
          <br>
          <% if @classification == MessageClassification::GIVE_PREFERENCE %>
              <%= link_to I18n.t("common.validate"), {controller: :messages, action: :wait_for_preference_change, id: @message.id}, class: "action btn btn-default" %>
          <% else %>
              <%= link_to I18n.t("info_box.send_to_founders"), {controller: :messages, action: :classifying, id: @message.id, classification: MessageClassification::TO_FOUNDERS}, class: "action btn btn-default" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


