<script>
    window.startedAt = <%= params[:started_at] || (DateTime.now.to_i * 1000) %>;
    window.threadLocale = "<%= @messages_thread.computed_data[:locale] %>";
    setCurrentLocale(window.threadLocale);

    $(function () {
        $("#back-button").click(function () {
            if (window.clickBackButton) {
                window.clickBackButton();
            }
            else {
                clickBackButtonDefault();
            }
        });
    });
    function clickBackButtonDefault() {
        window.history.back();
    }
</script>
<%= render template: "messages/classifications_form/#{@classification}" %>

<div class="fixed-columns">


  <div class="left-column">

    <%= render partial: "common/header" %>

    <div class="julie-action-fantom"></div>
    <div class="messages-thread-emails">

      <div id="back-button" class="btn btn-link">< <%= I18n.t("common.back")%></div>

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <% @messages_thread.messages.sort_by(&:received_at).each do |message| %>
          <%= render partial: "messages_threads/email", locals: {message: message, highlight: message.id == @message.id, expend: message.id == @message.id && message.received_at == @messages_thread.messages.map(&:received_at).min, highlight_message: I18n.t("classifications.#{@classification}.action")} %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "messages_threads/info_panel", locals: {messages_thread: @message.messages_thread, message: @message} %>

