<script>
    $(function () {

        $(".go-to-secondary-classification-button").click(function (e) {
            $(this).closest(".email-classifications").find(".primary-classification-buttons").fadeOut(200, function() {
                $(this).closest(".email-classifications").find(".secondary-classification-buttons").fadeIn(200);
            });

        });

        $(".back-to-primary-classification-button").click(function (e) {
            $(this).closest(".email-classifications").find(".secondary-classification-buttons").fadeOut(200, function() {
                $(this).closest(".email-classifications").find(".primary-classification-buttons").fadeIn(200);
            });


        });
    });
</script>

<div class="row">
<div class="email-column col-md-9">

<div class="email-classifications">
  <h4>What does this email tell me?</h4>
  <div class="primary-classification-buttons">
    <% (MessageClassification.primary_classifications).each do |classification| %>
        <div class="classification-button-block">
          <%= link_to I18n.t("classifications.#{classification}.action"), {controller: :messages, action: :classifying, id: @message.id, classification: classification}, class: "btn btn-primary btn-block" %>
        </div>
    <% end %>
    <br>

    <div class="classification-button-block">
      <div class="btn btn-link btn-block go-to-secondary-classification-button"><%= I18n.t("classifications.other.action") %></div>
    </div>
  </div>
  <div class="secondary-classification-buttons">
    <% (MessageClassification.secondary_classifications).each do |classification| %>
        <div class="classification-button-block">
          <%= link_to I18n.t("classifications.#{classification}.action"), {controller: :messages, action: :classifying, id: @message.id, classification: classification}, class: "btn btn-primary btn-block" %>
        </div>
    <% end %>
    <br>

    <div class="classification-button-block">
      <div class="btn btn-link btn-block back-to-primary-classification-button"><%= I18n.t("back") %></div>
    </div>
  </div>

</div>

<%= render template: "messages/email" %>
</div>
</div>

<%= render partial: "messages_threads/info_panel", locals: {messages_thread: @message.messages_thread} %>