<script>
    $(function () {
        window.calendarParams.height = $(".calendar-container").height();
        window.calendarParams.other_emails = window.otherAccountEmails;
        window.calendarParams.default_timezone_id = window.threadAccount.default_timezone_id;
        window.currentCalendar = new Calendar($(".calendar-container"), window.calendarParams);
    });
</script>
<div class="calendar-container">

  <div class="global-loading">
    <div class="global-loading-positioner">
      <%= image_tag "ajax-loader.gif", class: "global-spinner" %>

      <div class="global-loading-message"></div>
    </div>
  </div>
  <div class="local-loading">
    <%= image_tag "ajax-loader.gif", class: "local-spinner" %>
    <div class="local-loading-message"></div>
  </div>
  <div id="content">


    <div class="calendar-header-settings">
      <span class="calendar-timezone-label"><%= I18n.t("calendar.calendar_tz") %></span>
      <select id="calendar-timezone"></select>
    </div>

    <div id='calendar'></div>
  </div>

  <div id="minimize-button" class="btn btn-default"><%= I18n.t("calendar.minimize") %></div>


  <div id="event-details-container"></div>


  <div id="calendars-list-popup" align="center">
    <%= image_tag "calendar/close_window.png", id: "close-calendars-list-popup" %>
    <input type='checkbox' id='weekends-checkbox'/>
    <span><%= I18n.t("calendar.display_weekends") %></span>

    <div class="calendars"></div>
  </div>

</div>