<div class="created-event-panel">
  <div class="event-summary">
    <input/>
  </div>
  <div class="event-date event-row">
    <%= image_tag "event/date_icon.png" %>
    <div></div>
  </div>
  <div class="event-location event-row">
    <%= image_tag "event/place_icon.png" %>
    <input/>
  </div>
  <div class="event-notes event-row">
    <%= image_tag "event/notes_icon.png" %>
    <textarea></textarea>
  </div>
  <div class="event-attendees event-row">
    <%= image_tag "event/participant_icon.png" %>
    <div class="event-attendees-div"></div>
    <div class="event-attendees-edit-div"></div>
  </div>

  <div class="fetching-spinner-container">
    <%= image_tag "ajax-loader.gif" %>
    <div><%= I18n.t("info_box.fetching_event") %></div>
  </div>

  <div class="edit-event-buttons-container">
    <div class="edit-event-button btn btn-default btn-block"><%= I18n.t("common.modify") %></div>
    <div class="cancel-edit-event-button btn btn-default btn-block"><%= I18n.t("common.cancel_modifications") %></div>
    <div class="updating-event-message"></div>
  </div>
</div>