<script>
  $(function() {
      $(".suggested-date-times .suggested-date-time").each(function() {
          var date = $(this).data("date");
          var timezone = $(this).data("timezone");
          var text = $(this).data("text");

          if(date.length > 0) {
              var mDate = moment(date).tz(timezone);
              var dateString = mDate.locale(window.threadComputedData.locale).format(localize("email_templates.common.full_date_format"));
              $(this).find(".date").html(dateString);
              $(this).find(".timezone").html("(" + timezone + ")");
          }
          else {
              $(this).find(".text").html(text);
          }
      });

      $(".suggested-date-times .suggested-date-time").click(function (e) {
          var dateTime = $(this).data("date");
          if (dateTime) {
              window.currentCalendar.selectSuggestedEvent(dateTime);
          }
      });
  });
</script>

<div class="create-event-panel">
  <div class="data-entry">
    <div class="data-entry-name"><%= I18n.t("info_box.dates_to_check")%></div>
    <div class="data-entry-value">
      <div class="suggested-date-times">
        <% if local_assigns[:julie_action] %>
            <% JSON.parse(local_assigns[:julie_action].message_classification.date_times || "[]").each do |dt| %>
                <div class="suggested-date-time-container">
                    <div class="suggested-date-time btn btn-sm btn-default btn-block"
                         data-date="<%= dt['date'] %>"
                         data-timezone="<%= dt['timezone'] %>"
                         data-text="<%= dt['text'] %>">
                      <div class="date"></div>
                      <div class="timezone"></div>
                      <div class="text"></div>
                    </div>
                    <input type="checkbox"/>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>

  <button id="create-event-button" class="btn btn-success btn-block" disabled="disabled">
    <%= I18n.t("info_box.create_event")%>
  </button>

  <button id="no-date-fits" class="btn btn btn-default btn-block"><%= I18n.t("info_box.no_date_fits")%></button>
  <div class="creating-event-message"></div>
</div>