<div class="created-event-panel">
  <div class="event-summary">
  </div>
  <div class="event-date event-row">
    <%= image_tag "event/date_icon.png" %>
    <div></div>
  </div>
  <div class="event-location event-row">
    <%= image_tag "event/place_icon.png" %>
    <div></div>
  </div>
  <div class="event-notes event-row">
    <%= image_tag "event/notes_icon.png" %>
    <div></div>
  </div>
  <div class="event-attendees event-row">
    <%= image_tag "event/participant_icon.png" %>
    <div></div>
  </div>

  <div class="fetching-spinner-container">
    <%= image_tag "ajax-loader.gif" %>
    <div><%= I18n.t("info_box.fetching_event") %></div>
  </div>
</div>