
<div class="dates-identification-panel" ng-controller="datesIdentificationsManager as datesIdentificationsMng" id="dates-identifications-manager" data-dates-to-identify="<%= messages_thread.get_dates_to_verify[:every_propositions].to_json %>" data-last-dates-suggested="<%= messages_thread.get_dates_to_verify[:last_proposition].to_json %>">
  <div class="loader" ng-show="loading"></div>

  <div ng-hide="loading">

    <div class="already-suggested-dates-container" ng-show="showAlreadySuggestedArea">
      <!--<div class="date-identification-question"><%= I18n.t("dates_identifications.does_contact_already_date") %></div>-->
      <div class="date-identification-title">Dates à vérifier</div>

      <%= select_tag :identification_timezones, "", {class: 'form-control identification-timezones-select', 'ng-options' => 'timezone as timezone for timezone in usedTimezones', 'ng-model' => 'selectedTimezone', 'ng-change' => 'computeDataOnDatesToIdentify();'} %>

      <div class="already-suggested-dates">

        <div class="already-suggested-date" ng-class="{highlighted: date.selected, selected_by_ai: date.selected_by_ai}" data-date="{{date.date}}" data-timezone="{{date.timezone}}" ng-repeat="date in datesToIdentify track by $index">
          <input id="already_suggested_date_{{$index}}" name="already_suggested_date_{{$index}}" ng-model="date.selected" type="checkbox" value="">
          <span class="date">{{date.displayText}}</span>
          <label for="already_suggested_date_{{$index}}"></label>
        </div>

      </div>

      <button id="submit-these-already-suggested-dates" class="btn btn-success btn-block" ng-disabled="nextButtonDisabled()"><%= I18n.t("common.next")%></button>
      <button id="none-of-already-suggested-dates" class="btn btn-default btn-block"><%= I18n.t("common.select_other_dates")%></button>

    </div>

    <div class="detected-dates-container" ng-show="showDetectedDatesArea">
      <div class="date-identification-question"><%= I18n.t("dates_identifications.verify_detected_dates")%></div>
      <div class="detected-dates">

      </div>
      <div class="add-detected-date-button-container">
        <button class="btn btn-sm btn-default" id="add-detected-date-button"><%= I18n.t("dates_identifications.add_a_date")%></button>
      </div>
      <br>
      <button class="btn btn btn-success btn-block" id="submit-detected-date-button"><%= I18n.t("common.validate")%></button>
    </div>


  </div>


</div>