<% email = message.google_message %>

<script>
    $(function () {
        var $email = $(".email-<%= message.google_message_id %>");
        $email.find(".retracted, .checkbox-container").click(function (e) {
            e.stopPropagation();
        });
        $email.find(".retracted, .extended .retractable").click(function (e) {
            $(this).closest(".email").toggleClass("extended");
        });

        $email.find(".actions-menu-button").click(function (e) {
            $email.find(".actions-menu-positioner").toggleClass("visible");
            e.stopPropagation();
        });

        $email.find(".actions-menu").click(function (e) {
            e.stopPropagation();
        });

        $email.find(".to-learn-switch .option").click(function(e) {
            $email.find(".to-learn-switch .option").show();
            $(this).hide();
            e.stopPropagation();
        });

        $email.click(function () {
            if ($(this).closest(".actions-menu").length == 0) {
                $email.find(".actions-menu-positioner").removeClass("visible");
            }
        });

        $email.find("a.action").click(function(e) {
            e.preventDefault();
            if(!$(this).attr('disabled')) {
                $email.find(".actions-menu .spinner").show();
                window.location = $(this).attr('href') + "?started_at=" + window.startedAt;
            }
        });

        var $expandQuotes = $("<div>").html("...").addClass("expand-quotes-button");
        $email.find("blockquote, .gmail_quote").first().before($expandQuotes);

        $email.find(".expand-quotes-button").click(function(e) {
            if($email.find("blockquote.expanded, .gmail_quote.expanded").length > 0) {
                $email.find("blockquote, .gmail_quote").removeClass("expanded");
            }
            else {
                $email.find("blockquote, .gmail_quote").addClass("expanded");
            }
        });

        <% if email.unread? %>
            $.post("<%= mark_as_read_message_path(message) %>");
        <% end %>

        <% if local_assigns[:expend] %>
            $email.find("blockquote, .gmail_quote").addClass("expanded");
        <% end %>
    });
</script>


<div class="email <%= (local_assigns[:highlight]) ? "highlighted" : "" %> <%= (local_assigns[:highlight] || email.unread? || local_assigns[:last])? "extended" : "" %> email-<%= message.google_message_id %> <%= (message.from_me?) ? "from-me" : "" %>">
  <div class="retracted">
    <div class="checkbox-container">
      <%= check_box_tag "checkbox-message-#{message.id}", message.id %>
      <label for="checkbox-message-<%= message.id %>"></label>
    </div>

    <% if message.from_me? && (local_assigns[:reviewing_status] == "review" || local_assigns[:reviewing_status] == "learn") %>
        <div class="review-container">

          <% mc = message.generator_mcs.first %>
          <% if mc %>
              <% if mc.review_status == MessageClassification::REVIEW_STATUS_TO_REVIEW && local_assigns[:reviewing_status] == "review" %>
                  <div class="to-learn-switch" data-message-classification-id="<%= mc.id %>">
                    <div class="option to-learn">To learn</div>
                    <div class="option">Review Ok</div>
                  </div>
              <% else %>
                  <%= mc.review_status %>
              <% end %>
          <% end %>
          </div>
    <% end %>

    <div class="retracted-container">
      <div class="date-and-from">
        <div class="from"><%= email.from %></div>
        <div class="date"><%= I18n.t("time_ago", time: distance_of_time_in_words_to_now(DateTime.parse(email.date))) %></div>

        <% if message.from_me? %>
            <div class="operator"><%= message.generator_mcs.map(&:operator).join(" or ") %></div>
        <% end %>

        <div class="clear"></div>
      </div>
      <div class="snippet">
        <%== email.snippet %>...
      </div>
    </div>
  </div>
  <div class="extended">
    <div class="retractable">
      <div class="date-and-from">
        <div class="from"><%= email.from %></div>
        <div class="date"><%= I18n.t("time_ago", time: distance_of_time_in_words_to_now(DateTime.parse(email.date))) %></div>

        <% if message.from_me? %>
            <div class="operator"><%= message.generator_mcs.map(&:operator).uniq.join(" or ") %></div>
        <% end %>

        <div class="clear"></div>
      </div>

      <% if local_assigns[:actions_available] %>
          <div class="actions-menu-button"></div>

          <div class="actions-menu-positioner">
            <div class="actions-menu">
              <% message.messages_thread.available_classifications.each do |category, classifications| %>
                  <div class="classification-category">
                    <div class="classification-title"><%= I18n.t("classification_categories.#{category}.title") %></div>
                    <% classifications.each do |classification| %>
                        <%= link_to I18n.t("classification_categories.#{category}.classifications.#{classification}.action"), {controller: :messages, action: :classifying, id: message.id, classification: classification}, class: "action" %>
                    <% end %>
                  </div>
                  <%= image_tag "ajax-loader.gif", class: "spinner" %>
              <% end %>
            </div>
          </div>
      <% end %>

      <div class="to">
        <span class="email-label"><%= I18n.t("common.to")%></span>
        <%= email.to %>
      </div>
      <div class="cc">
        <span class="email-label"><%= I18n.t("common.cc")%></span>
        <%= email.cc %>
      </div>
    </div>

    <% if local_assigns[:highlight] && local_assigns[:highlight_message] %>
        <div class="current-action-message"><%= local_assigns[:highlight_message] %></div>
    <% end %>


    <div class="body"><%== Message.format_email_body(message) %></div>
  </div>
</div>