<% email = message.server_message %>
<% operator_actions_group = (message.from_me) ? message.generator_operator_actions_group(local_assigns[:operator_actions_groups]) : nil %>

<% auto_message_classification = message.instance_variable_get(:@auto_message_classification_id) ? AutoMessageClassification.find(message.instance_variable_get(:@auto_message_classification_id)) : nil %>

<% message_not_read = params[:not_read_messages].present? && params[:not_read_messages].include?(message.server_message_id.to_s) %>

<% if params[:not_read_messages].present? && params[:not_read_messages][0].to_i == message.server_message_id %>
    <div class="unread-email-container">
      <div class="unreal-email-wrapper">
        <div class="left-side">
          <div class="left-side-wrapper">
            <div class="header-div">
              Attention
            </div>
            <div class="unread-email-div">
              <%= "#{params[:not_read_messages].size} email(s) non traité(s) reçu(s) entre temps" %>
            </div>
          </div>
        </div>
        <div class="right-side close-unread-messages-popup">
          <div class="right-side-wrapper">
            <div class="closing-area">
              <span class="unread-messages-closing-text">OK</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(function() {
        window.unreadMessages = true;
        // Scroll to tehe popup
        scrollToUnreadAlert();

        $('.finish-buttons-finish-button').click(function(e) {
          if(window.unreadMessages) {
            e.preventDefault();
            scrollToUnreadAlert();
          }
        });

        $('.close-unread-messages-popup').click(function(e) {
          window.unreadMessages = false;
          $('.unread-email-container').hide()
        });
      });

        function scrollToUnreadAlert() {
          var currentPos = $(".left-column").scrollTop();
          $(".left-column").animate({scrollTop: currentPos + $('.unread-email-container').offset().top - 40}, 300);
        };
    </script>
<% end %>
<div class="email <%= (local_assigns[:highlight]) ? "highlighted" : "" %> <%= (local_assigns[:highlight] || !email['read'] || local_assigns[:last])? "extended" : "" %> email-<%= message.server_message_id %> <%= (message.from_me?) ? "from-me" : "" %> <%= message_not_read ? 'not-read' : '' %>" id="<%= message.server_message_id %>" data-received-at="<%=email['date']%>" data-message-id="<%= message.id %>" <%=local_assigns[:expend] ? 'expanded' : '' %>>
  <% if (local_assigns[:reviewing_status] == "review" || local_assigns[:reviewing_status] == "learn") && operator_actions_group %>
      <% notation = operator_actions_group.review_notation || 5 %>
      <div class="full-review-container <%= (notation != 5)?"expanded":"" %> <%= (operator_actions_group.review_status && local_assigns[:reviewing_status] == "review")?"already-set":""%> <%= (local_assigns[:reviewing_status] == "review")?"enabled":"" %>">
        <div class="notation-container notation-<%= notation %>" data-value="<%= notation %>" data-operator-actions-group-id="<%= operator_actions_group.id %>">
          <div class="notation-option" data-value="1"></div>
          <div class="notation-option" data-value="2"></div>
          <div class="notation-option" data-value="3"></div>
          <div class="notation-option" data-value="4"></div>
          <div class="notation-option" data-value="5"></div>
          <div class="notation-option" data-value="6"></div>
        </div>

        <div class="group-review-container">
          <input type="checkbox" <%= (operator_actions_group.group_review_status == OperatorActionsGroup::GROUP_REVIEW_STATUS_TO_LEARN)?"checked":"" %> <%= (local_assigns[:reviewing_status] == "learn")?"disabled":"" %>/> Show in group review
        </div>

        <textarea <%= (local_assigns[:reviewing_status] == "learn")?"disabled":"" %>><%= operator_actions_group.review_comment %></textarea>
        <div class="to-learn-button">Review ok</div>
        <div class="to-learn-label">To learn</div>
      </div>
  <% end %>

  <% if local_assigns[:turing_mode] == "machine" && auto_message_classification %>
    <div class="notation-turing-container expanded">
      <div class="notation-container notation-<%= auto_message_classification.notation(params[:operator_id] || session[:operator_id]) %>" data-value="<%= auto_message_classification.notation(params[:operator_id] || session[:operator_id]) %>">
        <div class="notation-option" data-value="1"></div>
        <div class="notation-option" data-value="2"></div>
        <div class="notation-option" data-value="3"></div>
        <div class="notation-option" data-value="4"></div>
        <div class="notation-option" data-value="5"></div>
      </div>
      <% amc_review_id = auto_message_classification.auto_message_classification_review(params[:operator_id] || session[:operator_id]).try(:id) %>
      <% if is_admin && !amc_review_id.nil? && !auto_message_classification.mark_as_solved?(params[:operator_id] || session[:operator_id]) %>
        <%= button_to "Mark as solved", {action: :mark_as_resolved, auto_message_classification_review_id: amc_review_id, batch_identifier: params[:batch_identifier]}, class: "btn btn-success mark-as-solved-button" %>
      <% end %>
      <textarea id="turing-notation-comments"><%= auto_message_classification.notation_comments(params[:operator_id] || session[:operator_id]) %></textarea>
    </div>
  <% end %>

  <% filtered_email_data = email.select{|key, _| key == 'id' || key == 'attachments_data' }%>
  <%= hidden_field_tag :email_data, filtered_email_data.to_json%>
  <%= hidden_field_tag :has_attachment, filtered_email_data['attachments_data'].present?, class: 'attachments-detector' %>

  <div class="email-container">
    <%
        from_email = process_recipients_html(email['from'].strip)

        to_emails = email['to'].split(',').map{|email| process_recipients_html(email.strip)}.join(', ')
        cc_emails = email['cc'].present? ? email['cc'].split(',').map{|email| process_recipients_html(email.strip)}.join(', ') : ''
    %>

        <div class="checkbox-container">
          <%= check_box_tag "checkbox-message-#{message.id}", message.id %>
          <label for="checkbox-message-<%= message.id %>"></label>
        </div>
      <div class="retracted">

        <div class="retracted-container">
          <div class="date-and-from">
            <div class="from"><%== from_email %></div>

            <% if message.from_me %>
                <% if operator_actions_group %>
                    <div class="operator-and-action-container">
                        <% if (local_assigns[:reviewing_status] && (local_assigns[:reviewing_status] == "review" && session[:can_see_operators_in_review]))  || operator_actions_group.operator.id == session[:operator_id] %>
                            <div class="operator"><%= operator_actions_group.operator.name %></div>
                        <% end %>
                        <div class="nature"><%= operator_actions_group.label %> (<%= display_duration(operator_actions_group.duration) %>)</div>
                    </div>
                <% end %>
            <% end %>

            <div class="email-flag <%= (email['labels'].include? "flag")?"flagged":"" %>"></div>
            <% if email['was_merged'] %>
                <div class="email-was-merged">M</div>
            <% end %>
            <% if email['was_split'] %>
                <% if local_assigns[:reviewing_status] == "review" %>
                    <%= link_to "S", review_review_messages_thread_path(MessagesThread.find_by_server_thread_id email['original_messages_thread_id']), class: "email-was-split", target: "_blank" %>
                <% else %>
                    <div class="email-was-split">S</div>
                <% end %>

            <% end %>
            <div class="date"><%= I18n.l(DateTime.parse(email['date']).to_time.utc, format: "%-d %b %H:%M") %> UTC (<%= I18n.t("time_ago", time: distance_of_time_in_words_to_now(DateTime.parse(email['date']))) %>)</div>
            <div class="clear"></div>
          </div>
          <div class="snippet">
            <%= email['snippet'] %>
          </div>
        </div>
      </div>
      <div class="extended">
        <div class="retractable">
          <div class="date-and-from">
            <div class="from"><%== from_email %></div>

            <% if message.from_me %>
                <% if operator_actions_group %>
                    <div class="operator-and-action-container">
                      <% if (local_assigns[:reviewing_status] && (local_assigns[:reviewing_status] == "review" && session[:can_see_operators_in_review]))  || operator_actions_group.operator.id == session[:operator_id] %>
                          <div class="operator"><%= operator_actions_group.operator.name %></div>
                      <% end %>
                      <div class="nature"><%= operator_actions_group.label %> (<%= display_duration(operator_actions_group.duration) %>)</div>
                    </div>
                <% elsif auto_message_classification %>
                    <div class="operator-and-action-container">
                      <div class="nature"><%= auto_message_classification.classification %></div>
                    </div>
                <% end %>
            <% end %>


            <div class="email-flag <%= (email['labels'].include? "flag")?"flagged":"" %>"></div>
            <div class="date"><%= I18n.l(DateTime.parse(email['date']).to_time.utc, format: "%-d %b %H:%M") %> UTC (<%= I18n.t("time_ago", time: distance_of_time_in_words_to_now(DateTime.parse(email['date']))) %>)</div>
            <div class="clear"></div>
          </div>

          <% if local_assigns[:actions_available] %>
              <% if session[:privilege] == Operator::PRIVILEGE_ADMIN && !message.from_me %>
                  <div class="conscience-process">
                    <%= image_tag "conscience.gif", class: "loader" %>
                    <div class="button">Let A.I. process (<%= number_to_percentage(message.interpretations[:confidence] * 100, precision: 1) %>)</div>
                  </div>
              <% end %>
              <div class="actions-menu-button"></div>
              <div class="actions-menu-positioner">
                <div class="actions-menu">
                  <% message.messages_thread.available_classifications.each do |category, classifications| %>
                      <div class="classification-category">
                        <div class="classification-title"><%= I18n.t("classification_categories.#{category}.title") %></div>
                        <% classifications.each do |classification| %>
                            <%= link_to I18n.t("classification_categories.#{category}.classifications.#{classification}.action"), {controller: :messages, action: :classifying, id: message.id, classification: classification}, class: "action #{message.interpretations[:classification] == classification ? 'suggested' : ''}", data: {"action-nature" => classification} %>
                        <% end %>
                      </div>
                      <%= image_tag "ajax-loader.gif", class: "spinner" %>
                  <% end %>
                </div>
              </div>
          <% end %>

          <div class="to">
            <span class="email-label"><%= I18n.t("common.to")%></span>
            <%== to_emails %>
          </div>
          <div class="cc">
            <span class="email-label"><%= I18n.t("common.cc")%></span>
            <%== cc_emails %>
          </div>
        </div>

        <% if local_assigns[:highlight] && local_assigns[:highlight_message] %>
            <div class="current-action-message"><%= local_assigns[:highlight_message] %></div>
        <% end %>

        <div class="ics-preview-container">
          <div class="ics-preview">
            <div class="summary"></div>
            <div class="ics-date ics-preview-field">
              <div class="ics-preview-label">When</div>
              <span class="dates"></span>
            </div>

            <div class="location ics-preview-field">
              <div class="ics-preview-label">Where</div>
              <span></span>
            </div>

            <div class="attendees ics-preview-field">
              <div class="ics-preview-label">Who</div>
              <div class="organizer"><span></span> (organizer)</div>
            </div>
            <div class="notes ics-preview-field">
              <div class="ics-preview-label">Notes</div>
              <div class="notes-div"></div>
            </div>
          </div>
        </div>

        <% # WARNING: This is trusted as HTML Safe, there is a possible security breach here. %>
        <div class="body"><%== Message.format_email_body(message) %></div>


        <div class="attachments-container">
          <% (email['attachments_data'] || []).each do |attachment| %>
              <% src = EmailServer.attachment_inline_path(message: email, attachment: attachment) %>
              <%= link_to src, class: "attachment-box", target: "_blank" do %>
                  <% if attachment['type'].include? "image" %>
                      <%= image_tag src, class: "attachment-preview" %>
                  <% else %>
                      <div class="attachment-preview"><%= attachment['type'].split("/").last %></div>
                  <% end %>
                  <div class="attachment-name"><%= attachment['filename'] %></div>
              <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>