<% operator_actions_group = local_assigns[:operator_actions_group] %>
<script>
    $(function () {
        var $email = $(".email-fake-<%= operator_actions_group.id %>");
        $email.find(".notation-container .notation-option").click(function() {
            var notation = $(this).closest(".notation-container").find(".notation-option").index(this) + 1;
            setNotation(notation);
        });

        $email.find(".to-learn-button").click(function() {
            setNotation(4);
        });

        function setNotation(notation) {
            if(!$email.find(".full-review-container").hasClass("enabled")) {
                return;
            }

            $email.find(".notation-container").removeClass("notation-1 notation-2 notation-3 notation-4 notation-5 notation-6");
            $email.find(".notation-container").addClass("notation-" + notation);
            $email.find(".notation-container").data("value", notation);

            $email.find(".full-review-container").removeClass("already-set");

            if(notation==5) {
                $email.find(".full-review-container").removeClass("expanded");
            }
            else {
                $email.find(".full-review-container").addClass("expanded");
                $email.find(".full-review-container textarea").focus();
            }
        }
    });
</script>


<div class="email email-fake-<%= operator_actions_group.id %>">
  <% if (local_assigns[:reviewing_status] == "review" || local_assigns[:reviewing_status] == "learn") && operator_actions_group %>
      <% notation = operator_actions_group.review_notation || 5 %>
      <div class="full-review-container <%= (notation != 5)?"expanded":"" %> <%= (operator_actions_group.review_status && local_assigns[:reviewing_status] == "review")?"already-set":""%> <%= (local_assigns[:reviewing_status] == "review")?"enabled":"" %>">
        <div class="notation-container notation-<%= notation %>" data-value="<%= notation %>" data-operator-actions-group-id="<%= operator_actions_group.id %>">
          <div class="notation-option" data-value="1"></div>
          <div class="notation-option" data-value="2"></div>
          <div class="notation-option" data-value="3"></div>
          <div class="notation-option" data-value="4"></div>
          <div class="notation-option" data-value="5"></div>
          <div class="notation-option" data-value="6"></div>
        </div>

        <div class="group-review-container">
          <input type="checkbox" <%= (operator_actions_group.group_review_status == OperatorActionsGroup::GROUP_REVIEW_STATUS_TO_LEARN)?"checked":"" %>/> Show in group review
        </div>
        <textarea><%= operator_actions_group.review_comment %></textarea>
        <div class="to-learn-button">Review ok</div>
        <div class="to-learn-label">To learn</div>
      </div>
  <% end %>

  <div class="retracted">
    <div class="retracted-container">
      <div class="date-and-from">

        <div class="operator-and-action-container">
          <div class="operator"><%= operator_actions_group.operator.name %></div>
          <div class="nature"><%= operator_actions_group.label %> (<%= display_duration(operator_actions_group.duration) %>)</div>
        </div>

        <div class="date"><%= I18n.l(operator_actions_group.initiated_at.to_time.utc, format: "%-d %b %H:%M") %> UTC (<%= I18n.t("time_ago", time: distance_of_time_in_words_to_now(operator_actions_group.initiated_at)) %>)</div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>