<script>
    window.threadComputedData = <%== @messages_thread.computed_data.to_json %>;
    window.otherAccountEmails = _.filter(window.otherAccountEmails, function (email) {
        return email && email != "<%= @messages_thread.account_email %>";
    });

    window.virtualAppointmentNatures = <%== MessagesThread.virtual_appointment_natures.to_json %>;
$(function() {
    $(".associate-to-account-button").click(function() {
        $.ajax({
            url: "/messages_threads/<%= messages_thread.id %>/associate_to_account",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                account_email: $("#account-email-selector").val()
            }),
            success: function() {
                window.location = window.location;
            },
            error: function () {
                window.location = window.location;
            }
        })
    });
})
</script>

<div class="messages-thread-info-panel">

  <div class="message-container"></div>

  <div id="thread-header-other-entries-container"></div>


  <div class="classic-info-panel">


    <div class="account">
      <div class="no-account-detected">
        <%= I18n.t("info_box.no_account_found") %>
        <div class="no-account-email"><%= messages_thread.messages.sort_by(&:received_at).first.google_message.from %></div>
      </div>

      <div class="associate-to-account-container">
        <select id="account-email-selector">

          <% contacts = MessagesThread.find_account_emails(messages_thread.google_thread) + ["julien@wepopp.com"] %>

          <optgroup>
          <% contacts.each do |contact| %>
              <option value="<%= contact %>"><%= contact %></option>
          <% end %>
          </optgroup>
          <optgroup label="_________">
            <% Account.get_active_account_emails.each do |contact| %>
                <option value="<%= contact %>"><%= contact %></option>
            <% end %>
          </optgroup>
        </select>

        <div class="associate-to-account-button btn btn-block btn-success">Associate to account</div>
      </div>
    </div>
  </div>
</div>