<script>
    $(function() {
        if(window.threadDataIsEditable) {
            if($("input#duration").val() == "" && $("input#summary").val() == "" && $("input#location").val() == "" && $("textarea#notes").val() == "") {
                setAppointmentValues();
            }
        }
        else {
            $(".data input, .data textarea, .data select").prop('disabled', true);
        }

        $("#appointment_nature").change(function() {
            setAppointmentValues();
        });

        $("input#summary").change(function() {
            $(this).removeClass("warning");
        });

        $(".suggested-date-times .suggested-date-time").click(function(e) {
            var dateTime = $(this).data("date-time");
            if(dateTime) {
                window.currentCalendar.selectSuggestedEvent(dateTime);
            }
        });
    });

    var defaultAppointments = <%== @messages_thread.account.try(:default_appointments).try(:to_json) || {} %>;
    function setAppointmentValues() {
        $("input#duration").val(defaultAppointments[$("#appointment_nature").val()].duration);
        <% contact_names = ((@messages_thread.try(:contacts) || []).map{|c| c[:name] } + ["#{@messages_thread.account.try(:usage_name)}"]) %>
        $("input#summary").val(defaultAppointments[$("#appointment_nature").val()].name  + " " + "<%= contact_names.join(" / ") %>");
        <% if contact_names.select{|cn| cn.blank?}.length > 0 %>
            $("input#summary").addClass("warning");
        <% end %>
        $("input#location").val(defaultAppointments[$("#appointment_nature").val()].location);
        $("textarea#notes").val(defaultAppointments[$("#appointment_nature").val()].notes);
    }

</script>

<div class="messages-thread-header col-md-3">

<div class="account">
<%  account = @messages_thread.account %>
    <% if account %>
        <%= account.usage_name %> (<%= @messages_thread.account.email %>)
        <div class="account-details">
            <%== account.default_appointments.map{|k, v| v['notes']}.join("<br>") %>
        </div>
    <% else %>
        No account found
    <% end %>
  </div>




  <div class="data">
    <div class="data-entry">
      <div class="data-entry-name">Ticket notes</div>
      <%= text_area_tag :constraints, @messages_thread.computed_data[:constraints], class: "data-entry form-control" %>
    </div>

    <div class="data-entry">
      <div class="data-entry-name">Appointment type</div>
      <%= select_tag :appointment_nature, options_for_select((@messages_thread.account.try(:default_appointments) || {}).map{|k, da| [da['name'], k]}), class: "data-entry form-control" %>
    </div>

    <div class="data-entry">
      <div class="data-entry-name">Summary</div>
      <%= text_field_tag :summary, @messages_thread.computed_data[:summary], class: "data-entry form-control" %>
    </div>

    <div class="data-entry">
      <div class="data-entry-name">Duration</div>
      <%= text_field_tag :duration, @messages_thread.computed_data[:duration], class: "data-entry form-control" %>
    </div>

    <div class="data-entry">
      <div class="data-entry-name">Location</div>
      <%= text_field_tag :location, @messages_thread.computed_data[:location], class: "data-entry form-control" %>
    </div>

    <div class="data-entry">
      <div class="data-entry-name">Attendees</div>
      <div class="data-entry-value">
          <% @messages_thread.contacts(with_client: true).each do |contact| %>
              <div>
                <% attendee = "#{contact[:name]} (#{(contact[:email])})" %>
                <% attendees = @messages_thread.computed_data[:attendees] || [] %>
                <% checked = attendees == [] || attendees.include?(attendee) %>
                <%= check_box_tag :attendee, attendee, checked %>
                <%= attendee %>
              </div>
          <% end %>

      </div>
    </div>

    <div class="data-entry">
      <div class="data-entry-name">Notes</div>
      <%= text_area_tag :notes, @messages_thread.computed_data[:notes], class: "data-entry form-control" %>
    </div>

    <div id="thread-header-other-entries-container">

    </div>

    <% if params[:action] == "process_actions" && @messages_thread.computed_data[:date_times].length > 0 %>
        <div class="data-entry">
          <div class="data-entry-name">DateTimes to check</div>
          <div class="data-entry-value">
            <div class="suggested-date-times">
            <% @messages_thread.computed_data[:date_times].each do |dt| %>
                  <%if dt['date']
                       date = DateTime.parse(dt['date'])
                       date_text = I18n.l(date, format: "%A %d %B %Y à %H:%M")
                     else
                       date_text = dt['text']
                     end %>
                  <div class="suggested-date-time btn btn-sm btn-default btn-block" data-date-time="<%= dt['date']%>">
                    <%= date_text %>
                  </div>
            <% end %>

            </div>
          </div>
        </div>
        <br>
        <br>
        <button id="create-event-button" class="btn btn-success btn-block" disabled="disabled">Create event</button>
        <div class="creating-event-message"></div>
    <% end %>



  </div>
</div>