<script>
    window.threadComputedData = <%== @messages_thread.computed_data.to_json %>;
    window.otherAccountEmails = _.filter(window.otherAccountEmails, function (email) {
        return email && email != "<%= @messages_thread.account_email %>";
    });

    window.virtualAppointmentNatures = <%== MessagesThread.virtual_appointment_natures.to_json %>;
$(function() {
    <%
    prioritary = MessagesThread.find_account_emails(messages_thread.server_thread) + ["julien@wepopp.com"]
    source = Account.get_active_account_emails.sort_by{|contact|
        (prioritary.include?(contact))?"aaa#{contact.downcase}":"zzz#{contact.downcase}"
    }.to_json
    %>
    $("#account-email-input").autocomplete({
        source: <%== source %>,
        delay: 0,
        minLength: 0
    }).focus(function(){
                $(this).trigger($.Event("keydown"));
            });

    $(".ui-autocomplete").css({
        maxHeight: 200,
        width: 200,
        fontSize: 12,
        overflowY: "scroll",
        overflowX: "hidden"
    });
    $(".associate-to-account-button").click(function() {
        $.ajax({
            url: "/messages_threads/<%= messages_thread.id %>/associate_to_account",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                account_email: $("#account-email-input").val()
            }),
            success: function() {
                window.location = window.location;
            },
            error: function () {
                window.location = window.location;
            }
        })
    });
})
</script>

<div class="messages-thread-info-panel">

  <div class="message-container"></div>

  <div id="thread-header-other-entries-container"></div>


  <div class="classic-info-panel">


    <div class="account">
      <div class="no-account-detected">
        <%= I18n.t("info_box.no_account_found") %>
        <div class="no-account-email"><%= messages_thread.messages.sort_by(&:received_at).first.server_message['from'] %></div>
      </div>

      <div class="associate-to-account-container">
        <input id="account-email-input"/>

        <div class="associate-to-account-button btn btn-block btn-success">Associate to account</div>
      </div>
    </div>
  </div>
</div>