<script>
    window.threadLocale = "<%= messages_thread.computed_data[:locale] %>";
    window.threadTimezoneId = "<%= messages_thread.computed_data[:timezone] %>";
    var defaultAppointments = <%== messages_thread.account.try(:default_appointments).try(:to_json) || {} %>;

    $(function () {
        if (window.leftColumnMessage) {
            $(".messages-thread-info-panel .message-container").html(window.leftColumnMessage).show();
        }
        if (window.threadDataIsEditable) {
            if ($("input#summary").val() == "" && $("input#location").val() == "" && $("textarea#notes").val() == "") {
                setAppointmentValues();
            }
            $("#timezone").timezonePicker();
            $(".save-info-container").show();
        }
        else {
            $(".data input, .data textarea, .data select").prop('disabled', true);
        }

        $("#appointment_nature").change(function () {
            setAppointmentValues();
        });

        $("input#summary").change(function () {
            $(this).removeClass("warning");
        });

        $(".submit-classification").click(function () {
            $(this).attr('disabled', true);
            if (window.submitClassification) {
                window.submitClassification();
            }
        });

        <% if messages_thread.event_data[:event_id] %>
            window.presenters.redrawEvent({
                accountEmail: "<%= messages_thread.account_email %>",
                eventId: "<%= messages_thread.event_data[:event_id] %>",
                calendarId: "<%= messages_thread.event_data[:calendar_id] %>"
            });
        <% end %>
    });

    function setAppointmentValues() {
        $("input#duration").val(defaultAppointments[$("#appointment_nature").val()].duration);
        <% contact_names = ((messages_thread.try(:contacts) || []).map{|c| c[:name] } + ["#{messages_thread.account.try(:usage_name)}"]) %>
        $("input#summary").val(defaultAppointments[$("#appointment_nature").val()].name + " " + "<%= contact_names.join(" / ") %>");
        <% if contact_names.select{|cn| cn.blank?}.length > 0 %>
        $("input#summary").addClass("warning");
        <% end %>
        $("input#location").val(defaultAppointments[$("#appointment_nature").val()].location);
        $("textarea#notes").val(defaultAppointments[$("#appointment_nature").val()].notes);
    }
</script>

<div class="messages-thread-info-panel">

  <div class="message-container"></div>

  <%= render partial: "messages_threads/created_event_panel" %>

  <%= render partial: "messages_threads/create_event_panel", locals: {messages_thread: messages_thread} %>


  <div class="classic-info-panel">
    <div id="thread-header-other-entries-container"></div>

    <div class="account">
      <% account = messages_thread.account %>
      <% if account %>
          <%= account.usage_name %> (<%= messages_thread.account.email %>)
          <div class="account-details">
            <%= simple_format account.raw_preferences %>
            <%= text_area_tag :current_notes, account.current_notes, class: "current-notes form-control", disabled: true %>
          </div>
      <% else %>
          <%= I18n.t("info_box.no_account_found") %>
      <% end %>
    </div>


    <div class="data">
      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.locale")%></div>
        <div class="semi-data-entry">
            <%= radio_button_tag :locale, "fr", (messages_thread.computed_data[:locale] != "en") %> <%= I18n.t("info_box.french")%>
        </div>
        <div class="semi-data-entry">
            <%= radio_button_tag :locale, "en", (messages_thread.computed_data[:locale] == "en")%> <%= I18n.t("info_box.english")%>
        </div>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.timezone")%></div>
        <%= text_field_tag :timezone, messages_thread.computed_data[:timezone], class: "data-entry form-control" %>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.ticket_notes")%></div>
        <%= text_area_tag :constraints, messages_thread.computed_data[:constraints], class: "data-entry form-control" %>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.appointment_type")%></div>
        <%= select_tag :appointment_nature, options_for_select((messages_thread.account.try(:default_appointments) || {}).map { |k, da| [da['name'], k] }, :selected => messages_thread.computed_data[:appointment_nature]), class: "data-entry form-control" %>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.summary")%></div>
        <%= text_field_tag :summary, messages_thread.computed_data[:summary], class: "data-entry form-control" %>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.duration")%></div>
        <%= text_field_tag :duration, messages_thread.computed_data[:duration], class: "data-entry form-control" %>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.location")%></div>
        <%= text_field_tag :location, messages_thread.computed_data[:location], class: "data-entry form-control" %>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.attendees")%></div>
        <div class="data-entry-value">
          <% messages_thread.contacts(with_client: true).each do |contact| %>
              <div>
                <% attendee = "#{contact[:name]} (#{(contact[:email])})" %>
                <% attendees = messages_thread.computed_data[:attendees] || [] %>
                <% checked = attendees == [] || attendees.include?(attendee) %>
                <%= check_box_tag :attendee, attendee, checked %>
                <%= attendee %>
              </div>
          <% end %>
        </div>
      </div>

      <div class="data-entry">
        <div class="data-entry-name"><%= I18n.t("info_box.notes")%></div>
        <%= text_area_tag :notes, messages_thread.computed_data[:notes], class: "data-entry form-control" %>
      </div>

      <div class="save-info-container">
        <br>
        <br>
        <button class="btn btn-block btn-success submit-classification"><%= I18n.t("common.save")%></button>
      </div>
    </div>
  </div>

  <%= render partial: "messages_threads/dates_identification_panel", locals: {messages_thread: messages_thread} %>
</div>