<%= javascript_include_tag 'angular_dependencies' %>
<script>
    window.threadId = <%= @messages_thread.id %>;
    window.threadComputedData = <%== @messages_thread.computed_data.to_json %>;
    window.otherAccountEmails = _.filter(window.otherAccountEmails, function (email) {
        return email && email != "<%= @messages_thread.account_email %>";
    });

    window.threadToMerge = <%= @messages_thread.to_be_merged %>;

    window.virtualAppointmentNatures = <%== MessagesThread.virtual_appointment_natures.to_json %>;

    function extractEmails(text) {
      return text.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi);
    };

    window.isAuthorizedAttendee = function(attendeeEmail) {
      var allowedAttendees = window.threadComputedData.attendees.map(function(attendee) { return attendee.email })
          .concat(extractEmails($('#messages_container .email .body').text()) || [])
          .concat(window.threadComputedData.thread_recipients)
          .concat(['hello@juliedesk.com'])
          .map(function(email) { return email.toLowerCase() });

      return  allowedAttendees.indexOf(attendeeEmail.toLowerCase()) > -1;
    };

    window.accountsAutocompleteSource = <%==
      @messages_thread.accounts_candidates.map{ |candidate_email| Account.create_for_autocomplete(candidate_email, {accounts_cache: local_assigns[:accounts_cache_light]})}.flatten.to_json
    %>;

    window.allowedAccountsEmails = _.uniq(
        _.compact(
            _.flatten(
                _.map(window.accountsAutocompleteSource, function(account) { return [account.email, account.email_alias]; })
            )
        )
    );

  $(function() {
    $( document ).tooltip();
  })
</script>

<div class="messages-thread-info-panel">
  <div class="message-container no-account-page"><%= controller_name == "julie_actions" ? "Demandez plus d'infos sur le client" : "Associez le thread à un client" %></div>

  <div id="thread-header-other-entries-container"></div>


  <div class="classic-info-panel">
    <%= render 'messages_threads/partials/no_account_tile' %>
  </div>
</div>