<script>
    var app = angular.module("backofficeApp", []);
    app.controller("MessagesThreadsListCtrl", function($scope, $http, $sce) {

        $scope.refreshInbox = function(forceRefresh) {
            $scope.loading = true;
            $(".refresh-inbox-button").attr("disabled", true);

            var url ="<%= messages_threads_path(format: "json") %>";
            if (forceRefresh) {
                url = "<%= index_with_import_messages_threads_path(format: "json") %>";
            }
            $http.get(url)
                    .success(function(e) {
                        $scope.loading = false;
                        $scope.messagesThreads = e.data;
                        $(".header .global-todo-count").html($scope.messagesThreads.length);
                    })
                    .error(function(e) {
                        $scope.loading = false;
                        console.log(e);
                        alert("There was an error.");
                    });
        };

        $scope.formatDate = function(date) {
            return moment(date).locale("<%= I18n.locale %>").fromNow();
        };

        $scope.toProcessLaterMessagesThreads = function() {
            return _.filter($scope.messagesThreads, function(messagesThread) {
               return $scope.shouldProcessLater(messagesThread);
            });
        };

        $scope.toProcessNowMessagesThreads = function() {
            return _.filter($scope.messagesThreads, function(messagesThread) {
                return !$scope.shouldProcessLater(messagesThread);
            });
        };

        $scope.shouldProcessLater = function(messagesThread) {
            if(messagesThread.account && messagesThread.account.company_hash) {
                var workingHours = messagesThread.account.company_hash.working_hours;
                var timezone = messagesThread.account.company_hash.timezone;
                var mNow = moment.tz(timezone);
                var day = mNow.format("ddd").toLowerCase();
                if(workingHours[day]) {
                    var currentWorkingHoursItem = _.find(workingHours[day], function(workingHoursItem) {
                        var start = parseInt(workingHoursItem[0]);
                        var end = parseInt(workingHoursItem[1]);
                        var mStart = mNow.clone().set("h", start/100).set("m", start%100).set("s", 0);
                        var mEnd = mNow.clone().set("h", end/100).set("m", end%100).set("s", 0);
                        //console.log(mStart.format(), mEnd.format());
                        return mNow >= mStart && mNow <= mEnd;
                    });
                    if(currentWorkingHoursItem == undefined) {
                        return true;
                    }
                }
                else {
                    return true;
                }
            }

            return false;
        };

        window.newEmailCallback = function() {
            $scope.refreshInbox(false);
            $scope.$apply();
        };

        window.redrawLocksStatuses = function(lockStatuses) {
            $scope.messagesThreads = _.each($scope.messagesThreads, function(messagesThread) {
                messagesThread.locked_by_operator_id = null;
                _.each(lockStatuses, function(lockStatus) {
                    if(lockStatus.messages_thread_id == messagesThread.id) {
                        messagesThread.locked_by_operator_id = 1;
                        messagesThread.locked_by_operator_name = lockStatus.operator_name;
                    }
                });
            });

            $scope.$apply();
        };

        window.archiveMessageThread = function(messageThreadId) {
            $scope.messagesThreads = _.filter($scope.messagesThreads, function(messagesThread) {
                return messagesThread.id !=  messageThreadId;
            });
            $scope.$apply();
        };

        $scope.refreshInbox(false);
    });
</script>

<div class="fixed-columns full">
  <div class="left-column">

    <%= render partial: "common/header" %>



    <div class="messages-threads-page" ng-app="backofficeApp" ng-controller="MessagesThreadsListCtrl">
      <div class="refresh-container">
        <button class="btn btn-success refresh-inbox-button" ng-click="refreshInbox(true)" ng-disabled="loading"><%= I18n.t("common.refresh") %></button>
        <%= image_tag "ajax-loader.gif", class: "spinner", "ng-show" => "loading" %>
      </div>



      <div class="nothing-to-do" ng-show="messagesThreads.length == 0 && !loading">
        <div class="smiley"></div>
        <div><%= I18n.t("index.nothing_to_do") %></div>
      </div>

      <div class="messages-threads-container bordered" ng-show="messagesThreads.length > 0">
        <div ng-repeat="messagesThread in toProcessNowMessagesThreads()">
            <%= render "row_in_list" %>
        </div>

        <div class="to-process-later-container" ng-show="toProcessLaterMessagesThreads().length > 0">
          <div class="to-process-later-category-title"><%= I18n.t("index.to_process_later") %></div>
          <div ng-repeat="messagesThread in toProcessLaterMessagesThreads()">
            <%= render "row_in_list" %>
          </div>
        </div>
      </div>

      <%= render partial: "common/footer" %>
    </div>
  </div>
</div>