<% count = MessagesThread.items_to_classify_count %>

<div class="fixed-columns">
  <div class="left-column">

    <%= render partial: "common/header" %>

    <div class="messages-threads-container">
      <% @messages_thread.each do |message_thread| %>
          <%= link_to message_thread, class: "messages-thread-item" do %>
              <div class="account-email">
                <%= message_thread.account.try(:usage_name) %>
                <%= (message_thread.messages.length>1) ? "(#{message_thread.messages.length})" : "" %>
              </div>
              <div class="subject-and-snippet">
                <div class="subject">
                  <%= message_thread.subject %>
                </div>
                <div class="snippet">
                  - <%== message_thread.google_thread.messages.sort_by(&:date).last.snippet %>
                </div>
              </div>
              <div class="received-at">
                <%= I18n.l(DateTime.parse(message_thread.google_thread.messages.sort_by(&:date).last.date), format: "%d %B %Y, %H:%M") %>
              </div>
          <% end %>
      <% end %>
    </div>
    <% if count == 0 %>
        <h5>What a lovely day :)</h5>
    <% end %>
  </div>
</div>

<div class="messages-thread-info-panel"></div>