<script>
    var app = angular.module("backofficeApp", []);
    app.controller("MessagesThreadsListCtrl", function($scope, $http, $sce) {

        $("body").on("click", ".messages-thread-item", function(e) {
            var target = $(this).attr("href");
            var messagesThreadId = $(this).data("id");
            var messagesThread = _.find($scope.messagesThreads, function(thread) {
                return thread.id == messagesThreadId
            });
            e.preventDefault();
            trackEvent("Click_on_thread", {
                distinct_id: "<%= session[:operator_id]%>-" + messagesThread.id,
                thread_id: messagesThread.id,
                thread_messages_count: messagesThread.messages.length
            }, function() {
                window.location = target;
            });
        });

        var serverTimestamp = <%= Time.now.to_i %>;
        var localTimestamp = parseInt(moment().format("X"));
        $scope.todayInUTC = moment().tz('UTC').format();

        $scope.showWrongClock = serverTimestamp > localTimestamp + 5 * 60 || serverTimestamp < localTimestamp - 5 * 60;
        $scope.isAdmin = <%= (session[:privilege] == "admin")?"true":"false" %>;
        $scope.todayRequestCountForClients = {};

        $scope.refreshInbox = function(forceRefresh) {
            $scope.loading = true;
            $(".refresh-inbox-button").attr("disabled", true);

            var url ="<%= messages_threads_path(format: "json") %>";
            if (forceRefresh) {
                url = "<%= index_with_import_messages_threads_path(format: "json") %>";
            }
            $http.get(url)
                    .success(function(e) {
                        $scope.loading = false;
                        $scope.messagesThreads = e.data;
                        $scope.operatorsOnPlanning = e.operators_data;
                        $(".header .global-todo-count").html($scope.messagesThreads.length);
                        //$scope.getTodayRequestsCountsForClients();
                    })
                    .error(function(e) {
                        $scope.loading = false;
                        if(e != null) {
                            console.log(e);
                            alert("There was an error.");
                        }
                    });
        };

        $scope.getTodayRequestsCountsForClients = function() {
            _.each($scope.messagesThreads, function(messagesThread) {
                if(messagesThread.account_email != null) {
                    var firstMessage = messagesThread.messages[0];

                    if(moment(firstMessage.received_at).isSame($scope.todayInUTC, 'd')) {
                        if($scope.todayRequestCountForClients[messagesThread.account_email])
                            $scope.todayRequestCountForClients[messagesThread.account_email] += 1;
                        else
                            $scope.todayRequestCountForClients[messagesThread.account_email] = 1;
                    }
                }
            });
        };

        $scope.formatDate = function(messageThread) {
            var dates = _.map(_.filter(messageThread.messages, function(message) {
                return !message.archived;
            }), function(message) {
                return moment(message.received_at);
            });
            if(dates.length > 0) {
                return moment(_.min(dates)).locale("<%= I18n.locale %>").fromNow();
            }
            else {
                dates = _.map(messageThread.messages, function(message) {
                    return moment(message.received_at);
                });
                if(dates.length > 0) {
                    return moment(_.max(dates)).locale("<%= I18n.locale %>").fromNow();
                }
                else {
                    return "";
                }
            }
        };

        $scope.toProcessLaterMessagesThreads = function() {
            return _.filter($scope.messagesThreads, function(messagesThread) {
               return !$scope.shouldFollowUp(messagesThread) && $scope.shouldProcessLater(messagesThread);
            });
        };

        $scope.toProcessNowMessagesThreads = function() {
            return _.filter($scope.messagesThreads, function(messagesThread) {
                return !$scope.shouldFollowUp(messagesThread) && !$scope.shouldProcessLater(messagesThread);
            });
        };

        $scope.toFollowUpMessagesThreads = function() {
          return _.filter($scope.messagesThreads, function(messagesThread) {
            return $scope.shouldFollowUp(messagesThread);
          })
        };

        $scope.shouldFollowUp = function(messagesThread) {
          return (messagesThread.should_follow_up && !messagesThread.in_inbox) ||
              ((new RegExp("Récapitulatif hebdomadaire de la semaine du")).test(messagesThread.subject)) ||
              ((new RegExp("weekly recap")).test(messagesThread.subject));
        };

        $scope.lockedMessagesThreads = function() {
            return _.filter($scope.messagesThreads, function(messagesThread) {
                return messagesThread.locked_by_operator_id != undefined;
            });
        };

        $scope.unlockedMessagesThreads = function() {
            return _.filter($scope.messagesThreads, function(messagesThread) {
                return messagesThread.locked_by_operator_id == undefined;
            });
        };

        $scope.messagesThreadToProcess = function() {
            var possibleMessagesThreads = $scope.unlockedMessagesThreads();

            possibleMessagesThreads = _.sortBy(possibleMessagesThreads, function(messagesThread) {
                return messagesThread.date;
            });
            if(possibleMessagesThreads.length > 0) {
                return possibleMessagesThreads[possibleMessagesThreads.length - 1];
            }
            else {
                return null;
            }
        };

        $scope.labelInRow = function(messagesThread) {
            var infos = {cssClass: ''};

            if(messagesThread.delegated_to_founders) {
                infos.text = "Founders";
            }
            else {
                if(messagesThread.delegated_to_support) {
                    infos.text = "Support";
                }
                else {
                    if(messagesThread.account) {
                        if(messagesThread.account.office_365_refresh_token_expired) {
                            infos.text = "Tkn expird";
                        }
                        else {
                            if(messagesThread.account.only_admin_can_process) {
                                infos.text = "Admin only";
                            }
                            else {
                                if(messagesThread.account.only_support_can_process) {
                                    infos.text = "VIP";
                                    infos.cssClass = 'vip';
                                }
                                else {
                                    infos.text = null;
                                }
                            }
                        }
                    }
                    else {
                        infos.text = "Support";
                    }
                }
            }

            return infos;
        };

        $scope.shouldProcessLater = function(messagesThread) {
            if(messagesThread.account && messagesThread.account.company_hash) {
                var workingHours = messagesThread.account.company_hash.working_hours;
                var timezone = messagesThread.account.company_hash.timezone;
                var mNow = moment.tz(timezone);
                var day = mNow.format("ddd").toLowerCase();
                if(workingHours[day]) {
                    var currentWorkingHoursItem = _.find(workingHours[day], function(workingHoursItem) {
                        var start = parseInt(workingHoursItem[0]);
                        var end = parseInt(workingHoursItem[1]);
                        var mStart = mNow.clone().set("h", start/100).set("m", start%100).set("s", 0);
                        var mEnd = mNow.clone().set("h", end/100).set("m", end%100).set("s", 0);
                        //console.log(mStart.format(), mEnd.format());
                        return mNow >= mStart && mNow <= mEnd;
                    });
                    if(currentWorkingHoursItem == undefined) {
                        return true;
                    }
                }
                else {
                    return true;
                }
            }

            return false;
        };

        $scope.scheduledForToday = function(messagesThread) {
            var isScheduledForToday = false;

            if(messagesThread.status == 'scheduled') {

                if(messagesThread.event_booked_date && moment(messagesThread.event_booked_date).isSame($scope.todayInUTC, 'd')) {
                    isScheduledForToday = true;
                }
            }

            return isScheduledForToday;
        };

        $scope.formatAccountLifeDuration = function(accountLifeDurationInDays) {
            if(accountLifeDurationInDays > 0) {
                var timeUnit = 'days';
                var duration = accountLifeDurationInDays;

                if(accountLifeDurationInDays == 1) {
                    timeUnit = 'day';
                }else {
                    var durationInMonths = parseInt(accountLifeDurationInDays / 31);
                    if(durationInMonths > 0) {
                        duration = durationInMonths;

                        if(durationInMonths == 1) {
                            timeUnit = 'month';
                        }else {
                            timeUnit = 'months';
                        }
                    }
                }

                return duration + ' ' + timeUnit;
            }
        };

        $scope.formatThreadsCountToday = function(threadsCountToday) {
            if(threadsCountToday > 0) {
                return threadsCountToday + ' ' + (threadsCountToday > 1 ? 'requests' : 'request') + ' today';
            }
        };

        $scope.formatThreadStatus = function(threadStatus) {

          var cssClass = threadStatus ? threadStatus.replace(/_/g, '-') : '';
          var output = {cssClass: cssClass};

          switch(threadStatus) {
              case 'scheduling_waiting_for_client':
                  output.text = 'Scheduling waiting for client';
                break;
              case 'scheduling_waiting_for_contact':
                  output.text = 'Scheduling waiting for contact';
                break;
              case 'scheduled':
                  output.text = 'Scheduled';
                break;
              case 'scheduling_aborted':
                  output.text = 'Scheduling aborted';
                break;
              case 'does_not_concern_client':
                  output.text = 'Does not concern client';
                break;
              case 'handled_in_other_threads':
                  output.text = 'Handled in other threads';
                break;
              case 'events_creation':
                  output.text = 'Events creation';
                break;
              case 'other':
                  output.text = 'Other';
                break;
              default:
                  output.text = 'New request';
                  output.cssClass = 'new-request';
                break;
          }

            return output;
        };

        $scope.getPriorityClassFromAccountLife = function(accountLifeInDays) {
            var priorityClass = 'priority4';

            if(accountLifeInDays <= 2) {
                priorityClass = 'priority1';
            }else {
               var durationInMonths = parseInt(accountLifeInDays / 31);
                if(durationInMonths <= 1) {
                    priorityClass = 'priority2';
                }else if(durationInMonths <= 2) {
                    priorityClass = 'priority3';
                }
            }

            return priorityClass;
        };

        $scope.getPriorityClassFromTodayRequestsCount = function(requestsCount) {
            var priorityClass = 'priority4';

            if(requestsCount == 1) {
                priorityClass = 'priority2';
            }else if(requestsCount == 2) {
                priorityClass = 'priority3';
            }

            return priorityClass;
        };

        $scope.determineOperatorPresence = function(operatorId) {
            return _.find($scope.operatorsOnPlanning, function(o) {
                return o.id == operatorId;
            });
        };

        $scope.manageLabelsDisplay = function(accountLifeLabelClass, threadsCountLabelClass) {
            var result = [accountLifeLabelClass, threadsCountLabelClass];
            var classes = [parseInt(accountLifeLabelClass.replace('priority', '')), parseInt(threadsCountLabelClass.replace('priority', ''))];

            if(classes[0] > classes[1])
                result[0] += ' lesser-priority';
            else if(classes[1] > classes[0])
                result[1] += ' lesser-priority';

            return result;
        };

        window.newEmailCallback = function() {
            $scope.refreshInbox(false);
            $scope.$apply();
        };

        window.redrawLocksStatuses = function(lockStatuses) {
            $scope.messagesThreads = _.each($scope.messagesThreads, function(messagesThread) {
                messagesThread.locked_by_operator_id = null;
                _.each(lockStatuses, function(lockStatus) {
                    if(lockStatus.messages_thread_id == messagesThread.id) {
                        messagesThread.locked_by_operator_id = 1;
                        messagesThread.locked_by_operator_name = lockStatus.operator_name;
                    }
                });
            });

            $scope.$apply();
        };

        window.archiveMessageThread = function(messageThreadId) {
            $scope.messagesThreads = _.filter($scope.messagesThreads, function(messagesThread) {
                return messagesThread.id !=  messageThreadId;
            });
            $scope.$apply();
        };

        $scope.refreshInbox(false);
    });
</script>

<div class="fixed-columns full">
  <div class="left-column">

    <%= render partial: "common/header" %>




    <div class="messages-threads-page" ng-app="backofficeApp" ng-controller="MessagesThreadsListCtrl">
      <div class="wrong-clock" ng-show="showWrongClock">
        Your system time is not correct. Please fix it.<br>
        Please visit <a href="http://time.is/" target="_blank">http://time.is/</a> to get the correct time,<br>
        and <a href="/">reload the backoffice</a>.
      </div>

      <div class="refresh-container">
        <button class="btn btn-default btn-sm refresh-inbox-button" ng-click="refreshInbox(true)" ng-disabled="loading"><%= I18n.t("common.refresh") %></button>
        <%= image_tag "ajax-loader.gif", class: "spinner", "ng-show" => "loading" %>
      </div>


      <div class="action-to-do-container" ng-show="toProcessNowMessagesThreads().length == 0 && !loading">
          <div class="nothing-to-do">
            <div class="smiley"></div>
            <div><%= I18n.t("index.nothing_to_do") %></div>
          </div>
      </div>


      <div ng-show="toProcessNowMessagesThreads().length > 0">
        <div class="messages-threads-container bordered">
          <div ng-repeat="messagesThread in toProcessNowMessagesThreads()">
            <%= render "row_in_list" %>
          </div>
        </div>
      </div>

      <div ng-show="isAdmin && toProcessLaterMessagesThreads().length > 0">
        <div class="category-title"><%= I18n.t("index.to_process_later") %></div>
        <div class="messages-threads-container bordered">
          <div ng-repeat="messagesThread in toProcessLaterMessagesThreads()">
            <%= render "row_in_list" %>
          </div>
        </div>
      </div>

      <div ng-show="toFollowUpMessagesThreads().length > 0">
        <div class="category-title"><%= I18n.t("index.to_follow_up") %></div>
        <div class="messages-threads-container bordered">
          <div ng-repeat="messagesThread in toFollowUpMessagesThreads()">
            <%= render "row_in_list" %>
          </div>
        </div>
      </div>

      <%= render partial: "common/footer" %>
    </div>
  </div>
</div>