<script>
    window.processingMessageThreadId = <%= @messages_thread.id %>;

    window.messagesIdsHash = <%== Hash[@messages_thread.messages.map{|m|
         [m.id, m.server_message_id]
    }].to_json %>;

    $(function () {

    });
</script>



<div class="fixed-columns">

  <div class="preview-header">EMAIL PREVIEW</div>
  <div class="left-column">

    <%= render partial: "common/classification_action_header", locals: {messages_thread: @messages_thread} %>
    

    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">
      <%= render partial: "common/send_to_support", locals: {messages_thread: @messages_thread} %>

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <%= render 'messages/partials/list', locals: {type: :messages_threads_preview} %>
    </div>

    <% unread_emails_count = @messages_thread.messages.select{|m| !m.server_message['read']}.length %>
    <% if unread_emails_count > 1 %>
        <div class="unread-emails">
          <%= I18n.t("show.x_unread_emails", count: unread_emails_count) %>
        </div>
    <% end %>

  </div>


</div>

<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread} %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>
