<script>

    $(function () {
        window.startedAt = Date.now();

        $(".split-thread-button").click(function () {
            $(".messages-thread-emails").addClass("splitting");
        });

        $(".cancel-split-button").click(function () {
            $(".messages-thread-emails").removeClass("splitting");
        });

        $(".actually-split-button").click(function () {
            var messageIdsToSplit = $(".email .checkbox-container input[type=checkbox]:checked").map(function () {
                return $(this).val();
            }).toArray();
            var $button = $(this);
            $button.attr('disabled', true);
            $.ajax({
                url: "<%= split_messages_thread_path(@messages_thread) %>",
                type: "post",
                data: {
                    message_ids: messageIdsToSplit
                },
                error: function (e) {
                    $button.removeAttr('disabled');
                },
                success: function (e) {
                    $button.removeAttr('disabled');
                    window.location = window.location;
                }
            });
        });
    });
</script>
<div class="fixed-columns">


  <div class="left-column">

    <%= render partial: "common/header" %>

    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <div class="split-buttons-container">
        <div class="btn btn-default cancel-split-button"><%= I18n.t("common.cancel") %></div>
        <div class="btn btn-warning actually-split-button"><%= I18n.t("common.split") %></div>
      </div>

      <div class="split-thread-button"></div>
      <%= button_to "", archive_messages_thread_path(id: @messages_thread.id), class: "archive-button" %>
      <% messages = @messages_thread.messages.sort_by(&:received_at) %>
      <% messages.each do |message| %>
          <%= render partial: "messages_threads/email", locals: {message: message, actions_available: true, expend: message.received_at == @messages_thread.messages.map(&:received_at).min, last: message == messages.last, no_account: @messages_thread.account_email.nil?} %>
      <% end %>
    </div>
  </div>


</div>


<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread} %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>
