<div class="col-md-8 col-md-offset-2">
  <h1>Turing review </h1>

  <h2><%= @batch_identifier %> (<%= @amc_count %>)</h2>

  <br>

  <div>
    <% @operators.each do |operator| %>
      <%= link_to operator.email, url_for({operator_id: operator.id}), class: "btn btn-primary" %>
    <% end %>
  </div>



  <% unreviewed_data_to_show = [
      {
          label: "Machine",
          auto_message_classifications: @unreviewed_message_classifications.select { |amcr| amcr.from_ai}
      },
      {
          label: "Human",
          auto_message_classifications: @unreviewed_message_classifications.select { |amcr| !amcr.from_ai}
      }
  ] %>


<% data_to_show = [
      {
          label: "Machine",
          auto_message_classification_reviews: @auto_message_classification_reviews.select { |amcr| amcr.auto_message_classification.from_ai}
      },
      {
          label: "Human",
          auto_message_classification_reviews: @auto_message_classification_reviews.select { |amcr| !amcr.auto_message_classification.from_ai}
      }
] %>

  <h2>Not reviewed: (<%= @unreviewed_message_classifications.length %>)</h2>
  <div class="row">
    <% unreviewed_data_to_show.each do |data_hash| %>
        <div class="col">
          <h4><%= data_hash[:label] %> (<%= data_hash[:auto_message_classifications].length %>)</h4>
          <table class="table table-striped">
            <% data_hash[:auto_message_classifications].each do |amc| %>
                <tr>
                  <td><%= amc.message.messages_thread.account_email %></td>
                  <td><%= amc.message.messages_thread.subject %></td>
                </tr>
            <% end %>
          </table>
        </div>
    <% end %>
  </div>

  <h2>Reviewed: (<%= @auto_message_classification_reviews.length %>)</h2>

  <div class="row">
    <% data_to_show.each do |data_hash| %>
        <div class="col">
          <h4><%= data_hash[:label] %> (<%= data_hash[:auto_message_classification_reviews].length %>)</h4>
          <table class="table text-center">
            <tr>
              <td class="success col-md-3">
                <h3><%= number_to_percentage(data_hash[:auto_message_classification_reviews].select { |amc| amc.notation == 5 }.length * 100.0 / data_hash[:auto_message_classification_reviews].length, precision: 1) %>
                  Correct</h3>
              </td>
              <td class="warning col-md-3">
                <h3><%= number_to_percentage(data_hash[:auto_message_classification_reviews].select { |amc| amc.notation > 2 && amc.notation < 5 }.length * 100.0 / data_hash[:auto_message_classification_reviews].length, precision: 1) %>
                  Not far</h3>
              </td>
              <td class="danger col-md-3">
                <h3><%= number_to_percentage(data_hash[:auto_message_classification_reviews].select { |amc| amc.notation <= 2 }.length * 100.0 / data_hash[:auto_message_classification_reviews].length, precision: 1) %>
                  Completely wrong</h3>
              </td>
            </tr>
          </table>


          <table class="table table-striped">
            <% data_hash[:auto_message_classification_reviews].each do |amc| %>
                <% klass = {
                    1 => "danger",
                    2 => "danger",
                    3 => "warning",
                    4 => "warning",
                    5 => "success"
                }[amc.notation] %>
                <tr class="<%= klass %>">
                  <td><%= amc.id %></td>
                  <td><%= amc.auto_message_classification.message.messages_thread.account_email %></td>
                  <td><%= link_to amc.auto_message_classification.message.messages_thread.subject, {action: :review_turing, id: amc.auto_message_classification.message.messages_thread.id, operator_id: amc.operator_id}, target: "_blank" %></td>
                  <td><%= amc.notation %>/5</td>
                  <td><%= amc.comments %></td>
                  <td><%= amc.resolved ? "Solved" : "" %></td>
                  <td><%= amc.auto_message_classification.julie_action.done %></td>
                  <td><%= amc.operator.name %></td>
                </tr>

            <% end %>
          </table>
        </div>
    <% end %>
  </div>

</div>
