<%= render partial: "review/header" %>

<div class="fixed-columns">
  <div class="left-column group-review">



    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <%= render 'messages/partials/list', locals: {type: :messages_threads_group_review} %>
    </div>
  </div>

  <%= render partial: "common/footer" %>
</div>
<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread} %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>





