<script>
    $(function () {
        $("#review-form").submit(function() {
            $("form#review-form input[name='message_classification_ids_to_learn']").val(JSON.stringify(messageClassificationIdsToLearn()));
            return true;
        });
    });

    function messageClassificationIdsToLearn() {
        return $(".to-learn-switch .option.to-learn:visible").map(function() {
            return $(this).closest(".to-learn-switch").data("message-classification-id");
        }).get();
    }
</script>

<%= render partial: "review/header" %>

<div class="fixed-columns">
  <div class="left-column">



    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <% operator_actions_groups = @messages_thread.operator_actions_groups %>
      <% operator_actions_groups_without_emails = operator_actions_groups.select{|operator_actions_group|
        operator_actions_group.label == OperatorActionsGroup::LABEL_ARCHIVE ||
                !(operator_actions_group.target_type == JulieAction.to_s && operator_actions_group.target.google_message_id.present?)
      }
      %>

      <% items = (@messages_thread.messages + operator_actions_groups_without_emails).sort_by do |item|
        if item.class == Message
          item.received_at
        else
          item.initiated_at
        end
      end %>

      <% items.each do |item| %>
          <% if item.class == Message %>
              <%= render partial: "messages_threads/email", locals: {message: item, actions_available: false, expend: false, last: false, no_account: @messages_thread.account_email.nil?, reviewing_status: "learn", operator_actions_groups: operator_actions_groups} %>
          <% elsif item.class == OperatorActionsGroup %>
              <%= render partial: "messages_threads/fake_email", locals: {reviewing_status: "learn", operator_actions_group: item} %>
          <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: "common/footer" %>
</div>
<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread} %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>





