<script>
    $(function () {
        var relativeReviewLink = $('#reviewLink').val();
        $('#reviewLink').val(document.location.origin + relativeReviewLink);

        $("#review-form").submit(function() {
            $("form#review-form input[name='data']").val(JSON.stringify(reviewData()));
            return true;
        });

        $(".calendar-container").addClass("visible minimized");

        $("#show-calendar-button").click(function () {
            $(".calendar-container").removeClass("minimized");
            window.currentCalendar.redrawFullCalendar();
        });
    });

    window.drawCalendarCallback = function(){
      window.activateCalendarWithParams({
        mode: "free_calendar",
        date_times: [],
        email: "<%= @messages_thread.account_email %>",
        duration: <%= @messages_thread.computed_data[:duration] || 60 %>,
        compute_meeting_rooms_via_backend: true
      });
    };

    function reviewData() {
        return $(".full-review-container:not(.already-set) .notation-container").map(function() {
            return {
                operator_actions_group_id: $(this).data('operator-actions-group-id'),
                notation: $(this).data('value'),
                should_review_in_group: $(this).closest(".full-review-container").find(".group-review-container input[type=checkbox]:checked").length > 0,
                comment: $(this).closest(".full-review-container").find("textarea").val()
            };
        }).get();
    }

    window.activateCalendarWithParams = function (calendarParams) {
        calendarParams.height = $(".calendar-container").height();
        calendarParams.other_emails = window.otherAccountEmails || [];
        if(window.threadAccount) {
            calendarParams.default_timezone_id = window.threadAccount.default_timezone_id;
        }
        calendarParams.additional_timezone_ids = [window.threadComputedData.timezone];

        calendarParams.constraintsData = _.groupBy(window.threadComputedData.constraints_data, function (data) {
            return data.attendee_email;
        });

        calendarParams.default_calendar_login_username = window.threadComputedData.calendar_login_username;
        calendarParams.default_calendar_login_type = window.threadComputedData.calendar_login_type;

        window.currentCalendar = new Calendar($(".calendar-container"), calendarParams, { synchronize: true, syncIsOptional: true });
        $(".calendar-container").addClass("visible");
    };
</script>

<%= render partial: "review/header" %>

<div class="fixed-columns">
  <div class="left-column review">

    <div class="messages-thread-status-for-review">
      Status:
      <%= form_tag change_messages_thread_status_review_messages_thread_path(id: @messages_thread.id) do %>
          <select class="thread-status-select-for-review" name="thread_status">
            <option value="">No status</option>
            <% MessageClassification.all_thread_statuses.each do |thread_status| %>
                <option value="<%= thread_status %>" <%= (thread_status == @messages_thread.current_status)?"selected":"" %>><%= I18n.t("thread_statuses.#{thread_status}") %></option>
            <% end %>
          </select>
          <%= submit_tag "Change status", 'disabled_with' => false %>
      <% end %>
    </div>

    <div id="show-calendar-button" class="btn btn-sm btn-default in-classify"><%= I18n.t("actions.show_calendar") %></div>
    <%= render template: "calendar/calendar" %>


    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">

      <div>
        Learn link: <input id="reviewLink" value="/review/messages_threads/<%= @messages_thread.id %>/learn"/>
      </div>

      <div class="messages-thread-subject">
        <%= link_to @messages_thread.subject, @messages_thread, target: "_blank" %>
      </div>

      <%= render 'messages/partials/list', locals: {type: :messages_threads_review} %>
    </div>
  </div>

  <%= render partial: "common/footer" %>
</div>
<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread} %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>





