<script>
    $(function () {
        $("#review-form").submit(function() {
            $("form#review-form input[name='message_classification_ids_to_learn']").val(JSON.stringify(messageClassificationIdsToLearn()));
            return true;
        });

        $("#show-calendar-button").click(function () {
            window.activateCalendarWithParams({
                mode: "free_calendar",
                date_times: [],
                email: "<%= @messages_thread.account_email %>",
                duration: <%= @messages_thread.computed_data[:duration] || 60 %>
            });
            $(".calendar-container").removeClass("minimized");
        });
    });

    function messageClassificationIdsToLearn() {
        return $(".to-learn-switch .option.to-learn:visible").map(function() {
            return $(this).closest(".to-learn-switch").data("message-classification-id");
        }).get();
    }

    window.activateCalendarWithParams = function (calendarParams) {
        calendarParams.height = $(".calendar-container").height();
        calendarParams.other_emails = window.otherAccountEmails;
        if(window.threadAccount) {
            calendarParams.default_timezone_id = window.threadAccount.default_timezone_id;
        }
        calendarParams.additional_timezone_ids = [window.threadComputedData.timezone];

        calendarParams.constraintsData = _.groupBy(window.threadComputedData.constraints_data, function (data) {
            return data.attendee_email;
        });
        window.currentCalendar = new Calendar($(".calendar-container"), calendarParams);
        $(".calendar-container").addClass("visible");
    };
</script>

<%= render partial: "review/header" %>

<div class="fixed-columns">
  <div class="left-column review">



    <div id="show-calendar-button" class="btn btn-sm btn-default in-classify"><%= I18n.t("actions.show_calendar") %></div>
    <%= render template: "calendar/calendar" %>


    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">

      <div class="messages-thread-subject">
        <%= link_to @messages_thread.subject, @messages_thread, target: "_blank" %>
      </div>

      <% items = (@messages_thread.messages + @messages_thread.mt_operator_actions).sort_by do |item|
        if item.class == Message
          item.received_at
        else
          item.initiated_at
          end
        end %>

      <% items.each do |item| %>
          <% if item.class == Message %>
            <%= render partial: "messages_threads/email", locals: {message: item, actions_available: false, expend: false, last: false, no_account: @messages_thread.account_email.nil?, reviewing_status: "review"} %>
          <% else %>
              <% if item.nature == OperatorAction::NATURE_ARCHIVE %>
                <div class="review-archived-container">
                  <div class="review-archived-line"></div>
                  <div class="review-archived"><%= item.operator.name %> archived - <%= I18n.l(item.initiated_at.to_time.utc, format: "%-d %b %H:%M") %> UTC</div>
                </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: "common/footer" %>
</div>
<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread} %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>





