<script>
    $(function () {
        $("#review-form").submit(function() {
            $("form#review-form input[name='data']").val(JSON.stringify(reviewData()));
            return true;
        });

        $("#show-calendar-button").click(function () {
            window.activateCalendarWithParams({
                mode: "free_calendar",
                date_times: [],
                email: "<%= @messages_thread.account_email %>",
                duration: <%= @messages_thread.computed_data[:duration] || 60 %>
            });
            $(".calendar-container").removeClass("minimized");
        });
    });

    function reviewData() {
        return $(".full-review-container:not(.already-set) .notation-container").map(function() {
            return {
                operator_actions_group_id: $(this).data('operator-actions-group-id'),
                notation: $(this).data('value'),
                should_review_in_group: $(this).closest(".full-review-container").find(".group-review-container input[type=checkbox]:checked").length > 0,
                comment: $(this).closest(".full-review-container").find("textarea").val()
            };
        }).get();
    }

    window.activateCalendarWithParams = function (calendarParams) {
        calendarParams.height = $(".calendar-container").height();
        calendarParams.other_emails = window.otherAccountEmails;
        if(window.threadAccount) {
            calendarParams.default_timezone_id = window.threadAccount.default_timezone_id;
        }
        calendarParams.additional_timezone_ids = [window.threadComputedData.timezone];

        calendarParams.constraintsData = _.groupBy(window.threadComputedData.constraints_data, function (data) {
            return data.attendee_email;
        });

        calendarParams.default_calendar_login_username = window.threadComputedData.calendar_login_username;
        calendarParams.default_calendar_login_type = window.threadComputedData.calendar_login_type;

        window.currentCalendar = new Calendar($(".calendar-container"), calendarParams);
        $(".calendar-container").addClass("visible");
    };
</script>

<%= render partial: "review/header" %>

<div class="fixed-columns">
  <div class="left-column review">



    <div id="show-calendar-button" class="btn btn-sm btn-default in-classify"><%= I18n.t("actions.show_calendar") %></div>
    <%= render template: "calendar/calendar" %>


    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">

      <div>
        Learn link: <input value="https://juliedesk-backoffice.herokuapp.com/review/messages_threads/<%= @messages_thread.id %>/learn"/>
      </div>

      <div class="messages-thread-subject">
        <%= link_to @messages_thread.subject, @messages_thread, target: "_blank" %>
      </div>

      <% operator_actions_groups = @messages_thread.operator_actions_groups %>
      <% operator_actions_groups_without_emails = operator_actions_groups.select{|operator_actions_group|
        operator_actions_group.label == OperatorActionsGroup::LABEL_ARCHIVE ||
        !(operator_actions_group.target_type == JulieAction.to_s && operator_actions_group.target.google_message_id.present?)
      }
      %>

      <% items = (@messages_thread.messages + operator_actions_groups_without_emails).sort_by do |item|
        if item.class == Message
          item.received_at
        else
          item.initiated_at
        end
      end %>

      <% items.each do |item| %>
          <% if item.class == Message %>
            <%= render partial: "messages_threads/email", locals: {message: item, actions_available: false, expend: false, last: false, no_account: @messages_thread.account_email.nil?, reviewing_status: "review", operator_actions_groups: operator_actions_groups} %>
          <% elsif item.class == OperatorActionsGroup %>
              <%= render partial: "messages_threads/fake_email", locals: {reviewing_status: "review", operator_actions_group: item} %>
          <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: "common/footer" %>
</div>
<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {messages_thread: @messages_thread} %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>





