<%= javascript_include_tag 'operators/sources'%>
<%= stylesheet_link_tag 'operators/sources'%>

<%= form_for [:admin, @operator], class: "form" do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field(:email, class: "form-control") %>
    </div>
    <div class="form-group">

      <%= f.label :name %>
      <%= f.text_field(:name, class: "form-control") %>
    </div>

    <% if @operator.new_record? %>
        <div class="form-group">

          <%= f.label :password %>
          <%= text_field_tag("operator[password]", "", class: "form-control") %>
        </div>
    <% end %>

    <div class="form-group">

      <%= f.label :privilege %>
      <%= f.select(:privilege, [
                                     ["Operator level 1", Operator::PRIVILEGE_OPERATOR],
                                     ["Operator level 2", Operator::PRIVILEGE_SUPER_OPERATOR_LEVEL_1],
                                     ["Operator support", Operator::PRIVILEGE_SUPER_OPERATOR_LEVEL_2],
                                     ["Admin", Operator::PRIVILEGE_ADMIN]
                             ], {}, class: "form-control") %>
    </div>

    <div class="form-group">

      <%= f.label :in_formation %>
      <div class="form-control">
        <%= f.check_box :in_formation %> is in formation
      </div>
    </div>

    <div class="form-group">

      <%= f.label :planning_access %>
      <div class="form-control">
        <%= f.check_box :planning_access %> has access to planning
      </div>
    </div>

    <div class="form-group">

      <%= f.label :manager_access %>
      <div class="form-control">
        <%= f.check_box :manager_access %> has access to manager features
      </div>
    </div>

    <div class="form-group">

      <%= f.label :madagascar_ip_restriction %>
      <div class="form-control">
        <%= f.check_box :ips_whitelist_enabled %> restriction enabled
      </div>
    </div>



    <div class="form-group">

      <%= f.label :plannings %>
      <div class="form-control">
        <%= f.check_box :active %> should appear in plannings
      </div>
    </div>

    <div class="form-group">

      <%= f.label :color %>
      <%= f.text_field(:color, class: "form-control") %>
    </div>

    <div class="form-group">

      <%= f.submit "Save", class: "btn btn-success" %>
    </div>

<% end %>