
<div class="operator-stats-container">
<h2><%= @operator.try(:name) || "All" %></h2>

<%= link_to "Voir mes erreurs passées (#{@previous_errors_count})", @errors_url, class: 'previous-errors-link'%>

  <br>
  <br>
<% to_learn_count = OperatorActionsGroup.where(operator_id: @operator.id, review_status: OperatorActionsGroup::REVIEW_STATUS_TO_LEARN).count %>
<% if to_learn_count > 0 %>
    <%= link_to "Learn from #{to_learn_count} message threads", "/review/messages_threads/learn_next?operator_id=#{@operator.id}", class: "btn btn-success" %>
<% end %>
<br>
<br>

<%
   my_stats = JSON.parse DATA_CACHE_REDIS["operator_stats-#{@operator.id}"]
   team_stats = JSON.parse DATA_CACHE_REDIS["operator_stats_team"]
   level_1_stats = JSON.parse DATA_CACHE_REDIS["operator_stats_level_1"]
%>


<table class="review-stats-table">
  <tr>
    <th class="title-th">Stats de traitement</th>
    <% current = 0 %>
    <% my_stats.each do |key, dates_hash| %>
        <th>
          <%= key %>
          <% if current == 0 %>
        <div class='subheader'>(en cours)</div>
              <% current = 1
                 elsif current == 1 && !key.starts_with?("S") %>
              <div class='subheader'>(en cours)</div>
          <% current = 2
             end %>
        </th>
    <% end %>
  </tr>
  <tr>
    <td>Nombre d'emails que je traite par heure</td>
    <% my_stats.each do |key, data| %>
        <td><%= number_with_precision(data['operator_action_groups_by_hour_ratio'], precision: 1) %></td>
    <% end %>
  </tr>
  <tr>
    <td>Nombre d'emails traités par heure par les niveaux 1</td>
    <% level_1_stats.each do |key, data| %>
        <td><%= number_with_precision(data['operator_action_groups_by_hour_ratio'], precision: 1) %></td>
    <% end %>
  </tr>
  <tr>
    <td>Nombre d'emails traités par heure par l'ensemble de l'équipe</td>
    <% team_stats.each do |key, data| %>
        <td><%= number_with_precision(data['operator_action_groups_by_hour_ratio'], precision: 1) %></td>
    <% end %>
  </tr>

  <tr>
    <td>Nombre d'emails que j'ai traité</td>
    <% my_stats.each do |key, data| %>
        <td><%= data['operator_action_groups_count'] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Nombre d'emails traités en moyenne dans l'équipe</td>
    <% team_stats.each do |key, data| %>
        <td><%= data['operator_action_groups_count_per_operator'] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Mon temps moyen de traitement</td>
    <% my_stats.each do |key, data| %>
        <td><%= display_duration data['average_processing_time_maxed'] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Temps moyen de traitement de l'équipe</td>
    <% team_stats.each do |key, data| %>
        <td><%= display_duration data['average_processing_time_maxed'] %></td>
    <% end %>
  </tr>
</table>


<table class="review-stats-table">
  <tr>
    <th class="title-th">Ma qualité de traitement</th>
    <% current = 0 %>
    <% my_stats.each do |key, dates_hash| %>
        <th>
          <%= key %>
          <% if current == 0 %>
              <div class='subheader'>(en cours)</div>
          <% current = 1
             elsif current == 1 && !key.starts_with?("S") %>
              <div class='subheader'>(en cours)</div>
          <% current = 2
             end %>
        </th>
    <% end %>
  </tr>
  <% notations = [
          "",
          "Erreur inacceptable",
          "Erreur grave",
          "Erreur",
          "Je peux faire mieux",
          "Parfait",
  ] %>
  <% (1..5).to_a.reverse.each do |notation| %>
      <tr>
        <td><%= notations[notation] %> (<%= notation %>/5)</td>
        <% my_stats.each do |key, data| %>
            <td>
              <%= data["notation_#{notation}_count"] %>
            </td>
        <% end %>
      </tr>
  <% end %>

  <tr></tr>



     <tr>
    <td>Mon taux d'erreur (<4/5)</td>

    <% my_stats.each do |key, data| %>
        <td>
          <%= number_to_percentage((data["errors_rate"] || 0) * 100.0, precision: 2) %>
        </td>
    <% end %>
  </tr>

  <tr>
    <td>Taux d'erreur (<4/5) de l'équipe</td>
    <% team_stats.each do |key, data| %>
        <td>
          <%= number_to_percentage((data["errors_rate"] || 0) * 100.0, precision: 2) %>
        </td>
    <% end %>
  </tr>
</table>
</div>