
<br>
<div class=event-page>

  <div class="event-calendar-link"><%= @event.calendar_id %></div>

  <% if @event_data['all_day'] %>
      <%= button_to "Free", "/events/#{@event.id}/classify?classification=free", class:"btn btn-primary" %>
      <%= button_to "Busy", "/events/#{@event.id}/classify?classification=busy", class:"btn btn-primary" %>
      <%= button_to "I don't know", "/events/#{@event.id}/classify?classification=unknown", class:"btn btn-primary" %>
  <% end %>

  <div class="event-container">
    <div class="event-id"><%= @event.event_id %></div>
    <div class="event-title"><%= @event_data['summary'] %></div>
    <div class="event-dates">
      <%= image_tag "event_time.png" %>
      <div  class="text">

        <%== ApplicationHelper.format_dates @event_data['start'], @event_data['end'] %>
      </div>
    </div>
    <div class="event-location">
      <%= image_tag "event_location.png" %>
      <div class="text"><%= @event_data['location'] %></div>
    </div>
    <div class="event-attendees">
      <%= image_tag "event_attendees.png" %>
      <div class="text">
        <% (@event_data['attendees'] || []).each do |attendee| %>
        <div class="attendee">
          <div class="attendee-name"><%= attendee['name'] %></div>
          <div class="attendee-email"><%= attendee['email'] %></div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="event-notes">
      <%= image_tag "event_notes.png" %>
      <div class="text"><%= @event_data['description'] %></div>
    </div>
  </div>



  <div class="event-classify-buttons">
    <% unless @event_data['all_day'] %>

        <% classifications = {
            call: "Call",
            work: "Work",
            meeting: "Meeting",
            lunch: "Lunch",
            dinner: "Dinner",
            breakfast: "Breakfast",
            int_appointment: "Int. appointment",
            ext_appointment: "Ext. appointment",
            event: "Event",
            transport: "Transport",
            other: "Other"
        }
        %>

        <% classifications.each do |k, v| %>
            <%= button_to v, "/events/#{@event.id}/classify?classification=#{k}", class: "btn btn-success" %>
        <% end %>

    <% end %>

  </div>



</div>


