<div class='operators-list'>
  <%= link_to "See review list (#{@to_review_count})", "/review/operators/review_list", class: "btn btn-success btn-block" %>
  <br>
  <%= link_to "Group review #{@to_group_review_count} threads", "/review/messages_threads/group_review_next", class: "btn btn-success btn-block" %>

  <br>
  <%= link_to "Event title review #{EventTitleReview.where(status: nil).count} threads", "/review/operators/events_review_list", class: "btn btn-success btn-block" %>

  <br>
  <br>

  <% @operators.where(privilege: nil).each do |operator| %>
      <%= link_to review_operator_path(operator), class: 'operator' do %>
        <%= operator.name %> (<%= @oags_to_learn_counts[operator.id] %>)
      <% end %>
  <% end %>

  <br>

  <% @operators.where("privilege IS NOT NULL").each do |operator| %>
      <%= link_to review_operator_path(operator), class: 'operator' do %>
          <%= operator.name %> (<%= @oags_to_learn_counts[operator.id] %>)
      <% end %>
  <% end %>

</div>