<div class='operators-list'>
  <%= link_to "Review #{@to_review_count} threads", "/review/messages_threads/review_next", class: "btn btn-success" %>

  <br>
  <br>

  <%= link_to "Group review #{@to_group_review_count} threads", "/review/messages_threads/group_review_next", class: "btn btn-success" %>

  <br>
  <br>

  <% @operators.each do |operator| %>
      <%= link_to review_operator_path(operator), class: 'operator' do %>
        <%= operator.name %> (<%= @oags_to_learn_counts[operator.id] %>)
      <% end %>
  <% end %>

</div>