<script>
    $(function() {
        $(".open-links-flag").click(function() {
            var $button = $(this);
            reviewMessagesThreads($button, "/review/operators/messages_thread_ids_to_review?mode=flag");
        });

        $(".open-links-flag-even").click(function() {
            var $button = $(this);
            reviewMessagesThreads($button, "/review/operators/messages_thread_ids_to_review?mode=flag&selectivity=even");
        });

        $(".open-links-flag-odd").click(function() {
            var $button = $(this);
            reviewMessagesThreads($button, "/review/operators/messages_thread_ids_to_review?mode=flag&selectivity=odd");
        });

        $(".open-links-random").click(function() {
            var $button = $(this);
            reviewMessagesThreads($button, "/review/operators/messages_thread_ids_to_review?mode=random");
        });

        $(".open-links-random-even").click(function() {
            var $button = $(this);
            reviewMessagesThreads($button, "/review/operators/messages_thread_ids_to_review?mode=random&selectivity=even");
        });

        $(".open-links-random-odd").click(function() {
            var $button = $(this);
            reviewMessagesThreads($button, "/review/operators/messages_thread_ids_to_review?mode=random&selectivity=odd");
        });

        $(".open-links-operator").click(function() {
            var $button = $(this);
            reviewMessagesThreads($button, "/review/operators/messages_thread_ids_to_review?mode=operator&operator_id=" + $(this).data("operator-id"));
        })
    });

    function reviewMessagesThreads($button, url) {
        if($button.hasClass("disabled")) return;
        $button.addClass("disabled");
        $.get(url).success(function(data) {
            var messageThreadIds = data.data.messages_thread_ids;

            _.each(messageThreadIds, function(k) {
                window.open("/review/messages_threads/" + k + "/review");
            });
            $button.removeClass("disabled");
        });
    }
</script>

<div class="review-dashboard col-md-8 col-md-offset-2">
  <h1 class="title">Review</h1>
  <table id="reviewGlobalStats" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Random Review</th>
        <th>Flagged Review</th>
        <th>Error %</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Last 7 days</td>
        <td>
          <%= @data[:random_review_last_7_days_count] %>
          <% unless @data[:random_review_last_7_days_percent].nil? %>
              (<%= number_to_percentage(@data[:random_review_last_7_days_percent], precision: 2) %>)
          <% end %>
        </td>
        <td><%= @data[:flagged_review_last_7_days_count] %></td>
        <td>
          <% unless @data[:last_7_days_error_percent].nil? %>
              (<%= number_to_percentage(@data[:last_7_days_error_percent], precision: 2) %>)
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Current month</td>
        <td>
          <%= @data[:random_review_current_month_count] %>
          <% unless @data[:random_review_current_month_percent].nil? %>
              (<%= number_to_percentage(@data[:random_review_current_month_percent], precision: 2) %>)
          <% end %>
        </td>
        <td><%= @data[:flagged_review_current_month_count] %></td>
        <td>
          <% unless @data[:current_month_error_percent].nil? %>
              (<%= number_to_percentage(@data[:current_month_error_percent], precision: 2) %>)
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Last 30 days</td>
        <td>
          <%= @data[:random_review_last_30_days_count] %>
          <% unless @data[:random_review_last_30_days_percent].nil? %>
            (<%= number_to_percentage(@data[:random_review_last_30_days_percent], precision: 2) %>)
          <% end %>
        </td>
        <td><%= @data[:flagged_review_last_30_days_count] %></td>
        <td>
          <% unless @data[:last_30_days_error_percent].nil? %>
              (<%= number_to_percentage(@data[:last_30_days_error_percent], precision: 2) %>)
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="main-actions">
    <div class="flag-actions">
      <div class="btn btn-success open-links-flag" data-messages-thread-ids="<%== @data[:flag_to_review_messages_thread_ids].to_json %>">Flag email review (<%= @data[:flag_to_review_count] %>)</div>

      <div class="btn btn-success open-links-flag-even">Threads pairs</div>

      <div class="btn btn-success open-links-flag-odd">Threads impairs</div>

    </div>
    <div class="random-actions">
      <div class="btn btn-success open-links-random" data-messages-thread-ids="<%== @data[:review_messages_thread_ids].to_json %>">Random review</div>

      <div class="btn btn-success open-links-random-even">Threads pairs</div>

      <div class="btn btn-success open-links-random-odd">Threads impairs</div>
    </div>
    <div class="group-review-actions">
      <%= link_to "Group review threads (#{@data[:to_group_review_count]})", "/review/messages_threads/group_review_next", class: "btn btn-info" %>
      <span></span>
    </div>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Opérateur</th>
      <th>Niveau</th>
      <th><%= display_review_sorting_link(:actions_count, params) do |glyphicon_class| %> Mails traités <span class="glyphicon <%= glyphicon_class %>"></span> <% end %></th>
      <th><%= display_review_sorting_link(:mails_treatment_hourly_flow, params) do |glyphicon_class| %> Mails/heures <span class="glyphicon <%= glyphicon_class %>"></span> <% end %></th>
      <th><%= display_review_sorting_link(:coverage, params) do |glyphicon_class| %> % Corrigés <span class="glyphicon <%= glyphicon_class %>"></span> <% end %></th>
      <th><%= display_review_sorting_link(:errors_count, params) do |glyphicon_class| %> Nbr erreurs <span class="glyphicon <%= glyphicon_class %>"></span> <% end %></th>
      <th><%= display_review_sorting_link(:errors_percentage, params) do |glyphicon_class| %> % erreurs <span class="glyphicon <%= glyphicon_class %>"></span> <% end %></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Général</td>
      <td></td>
      <td><%= @data[:total_count]%></td>
      <td><%= number_with_precision @data[:total_count] / (@data[:total_duration_for_all_operators_in_seconds].to_f / 3600), :precision => 1 %></td>
      <td><%= number_to_percentage (@data[:total_percentage_coverage_for_all_operators] || 0) * 100, precision: 0 %></td>
      <td><%= @data[:total_errors_count_for_all_operators] %></td>
      <td><%= number_to_percentage (@data[:total_errors_percentage_for_all_operators] || 0) * 100, precision: 1 %></td>
      <td></td>
      <td></td>
    </tr>

    <% @data[:operators].each do |operator_hash| %>
        <% actions_count = operator_hash[:actions_count] || 0 %>

        <tr>
          <td><%= operator_hash[:name] %></td>
          <td><%= operator_hash[:level] %></td>
          <td><%= actions_count %> (<%= number_to_percentage(actions_count * 100.0 / @data[:total_count], precision: 0) %>)</td>
          <td><%= number_with_precision operator_hash[:mails_treatment_hourly_flow], :precision => 1 %></td>
          <td><%= number_to_percentage (operator_hash[:coverage] || 0) * 100, precision: 0 %></td>
          <td><%= operator_hash[:errors_count] %></td>
          <td><%= number_to_percentage (operator_hash[:errors_percentage] || 0) * 100, precision: 1 %></td>
          <td><%= link_to "Détails statistiques", review_operator_path(id: operator_hash[:id]), class: "btn-link" %></td>
          <td>
            <div class="btn btn-success open-links-operator" data-operator-id="<%= operator_hash[:id] %>">Review</div>
          </td>
        </tr>
    <% end %>
  </table>
</div>