<div class="fixed-columns full">
  <div class="left-column">

    <%= render partial: "review/header" %>

    <%= if @operator
      operator_actions_groups = @operator.operator_actions_groups
    else
      operator_actions_groups = OperatorActionsGroup
    end
    %>





    <div class="messages-threads-page">
      <div class="operators-page">
        <%= render "index_menu", locals: {operators: @operators, to_review_count: @to_review_count, oags_to_learn_counts: @oags_to_learn_counts} %>

        <div class='operators-container'>
          <%= render "operator_stats" %>
        </div>
      </div>

      <%= render partial: "common/footer" %>
    </div>
  </div>
</div>





