<script type="text/javascript">
  window.specialCallbacks = [];
  window.julie_action_nature = '<%= @julie_action.action_nature %>';
  window.julie_action_id = <%= @julie_action.id %>;
  window.classification = '<%= @message_classification.classification %>';

  window.currentFullMessageWithFooter = "";
  window.processingMessageThreadId = <%= @messages_thread.id %>;

  window.timeSlotsToSuggest = [];
  window.timeSlotToCreate = null;
  window.selectedEvents = [];
  window.forceCancelEventIds = [];
  window.julieAlias = <%== @messages_thread.julie_alias.to_json %>;
  window.julieAliases = <%== @messages_thread.julie_aliases.to_json %>;
  window.isResponseToClient = <%= @is_discussion_client_julie_only %>;
  window.startedAt = Date.now();


  window.locationHasBeenChanged = <%= @message_classification.location_changed || false %>;

  window.actionDeletedEvent = false;

  window.replyingToMessageId = <%= @julie_action.message_classification.message_id %>;
  window.afterMessageSentUrl = "<%= messages_thread_path(@messages_thread, scroll_to_bottom: true) %>";
  window.initial_recipients = <%== @julie_action.initial_recipients.to_json %>;
  window.message_email_sender = "<%= @message.get_email_sender %>";
  window.isFirstDateSuggestion = <%= @is_first_date_suggestion ? 'true' : 'false' %>;
</script>

<% if @messages_thread.account %>
    <%= render partial: "messages_threads/info_panel", locals: {
                                                             messages_thread: @messages_thread,
                                                             julie_action: @julie_action,
                                                             accounts_cache_light: @accounts_cache_light
                                                     } %>
<% else %>
    <%= render partial: "messages_threads/info_panel_no_account", locals: {messages_thread: @messages_thread} %>
<% end %>

<%= javascript_include_tag "julie_actions/julie_action_show" %>


<% if JulieAction.available_actions.include? @julie_action.action_nature %>
    <%= render partial: @julie_action.action_nature, locals: {julie_action: @julie_action, messages_thread: @messages_thread} %>
<% end %>




<div class="fixed-columns">
  <div class="left-column">

    <%= render partial: "common/classification_action_header", locals: {messages_thread: @messages_thread} %>

    <div class="julie-action-title">
      <span class="title"><%= I18n.t("common.to_do") %> <%= I18n.t("actions.#{@julie_action.action_nature}.todo") %></span>

      <div id="show-calendar-button" class="btn btn-sm btn-default"><%= I18n.t("actions.show_calendar") %></div>
    </div>

    <%= render template: "calendar/calendar" %>


    <div class="julie-action-fantom"></div>

    <div class="messages-thread-emails">
      <%= render partial: "common/send_to_support", locals: {messages_thread: @messages_thread} %>

      <div class="messages-thread-subject">
        <%= @messages_thread.subject %>
      </div>

      <%= render 'messages/partials/list', locals: {type: :julie_action_show} %>

    </div>


  </div>
</div>


