<div class="attendee-checkbox col-xs-1" ng-if="attendee.isThreadOwner">
  <%= check_box_tag :attendee_thread_owner, '', true, {'ng-model' => 'attendee.isPresent', disabled: true} %>
</div>
<div class="attendee-checkbox col-xs-1" ng-if="!attendee.isThreadOwner">
  <%= check_box_tag :attendee, '', true, {'ng-model' => 'attendee.isPresent', 'ng-disabled' => 'attendees_manager.readOnly'} %>
</div>
<div class="col-xs-1 client-picto-contact" ng-show="attendee.isClient">
  <%= image_tag 'client_picto.png', width: 20, height: 20 %>
</div>
<div class="attendee-details" ng-class="{'col-xs-8': attendee.isClient, 'col-xs-9': !attendee.isClient}">
  <div class="row ellipsable">
    <span class="attendee-usage-name">{{(attendee.gender == 'M' || attendee.gender == 'F') ? attendee.displayGender() : '' }} {{attendee.firstName}} {{attendee.lastName}}</span><span class="attendee-no-company" ng-if="attendee.company==''">Entreprise non définie</span>
  </div>

  <div class="row ellipsable" style="margin-top: -3px;">
    <cite class="attendee-email">{{attendee.email}}</cite>
  </div>

  <div class="row ellipsable" style="margin-top: -3px;" ng-show="!attendee.timezone ==''">
    <cite class="attendee-timezone">{{attendee.timezone}}</cite>
  </div>

  <div class="row ellipsable" ng-show="attendee.assisted">
      <cite class="attendee-assistant" ng-show="attendee.assisted">Assisté par {{attendee.assistedBy.displayName || attendee.assistedBy.usageName}} ({{attendee.assistedBy.email}})</cite>
  </div>

  <div class="row ellipsable" ng-show="attendee.isAssistant">
      <cite class="attendee-assistant" ng-show="attendee.isAssistant">Assistant(e)</cite>
  </div>
</div>
<div class="attendee-update-button-container col-xs-1" ng-class="{'client-correction': attendee.isClient}">
  <button ng-click='attendees_manager.displayAttendeeUpdateForm(attendee)'>
    <%= image_tag 'edit_contact_button.png' %>
  </button>
</div>
<div class="attendee-additional-informations col-xs-offset-1" ng-if="!attendee.isClient" ng-show="displayAttendeesInformations()">
  <div class="row ellipsable missing-call-informations" ng-show="attendee.hasMissingInformations"><span style="margin-left: 27px;color: #F6BB67;">{{attendees_manager.displayMissingInformationsText()}}</span></div>
  <div class="row ellipsable additional-informations-fields" style="margin-top: -3px;">
    <div ng-if="missingInformationLookedFor == 'landline_or_mobile'">
      <div class="col-xs-6" style="padding-right: 6px; padding-left:0;">
        <%= label_tag :landline, 'Tel Fix.' %>
        <%= text_field_tag :landline, "",{'ng-model' => 'attendee.landline', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', 'ng-keyup' => 'attendees_manager.callingInformationsChanged()', class: 'form-control'} %>
      </div>
      <div class="col-xs-6" style="padding-left: 6px; padding-right:0;">
        <%= label_tag :mobile, 'Tel Mob.' %>
        <%= text_field_tag :mobile, "",{'ng-model' => 'attendee.mobile', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', 'ng-keyup' => 'attendees_manager.callingInformationsChanged()', class: 'form-control'} %>
      </div>
    </div>
    <div ng-if="missingInformationLookedFor == 'mobile_only'">
      <div class="col-xs-12" style="padding-left: 0; padding-right:0;">
        <%= label_tag :mobile, 'Tel Mob.' %>
        <%= text_field_tag :mobile, "",{'ng-model' => 'attendee.mobile', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', 'ng-keyup' => 'attendees_manager.callingInformationsChanged()', class: 'form-control'} %>
      </div>
    </div>
    <div ng-if="missingInformationLookedFor == 'skype_only'">
      <div class="col-xs-12" style="padding-left: 0; padding-right:0;">
        <%= label_tag 'skypeId', 'Skype' %>
        <%= text_field_tag 'skypeId', "",{'ng-model' => 'attendee.skypeId', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', class: 'form-control'} %>
      </div>
    </div>

  </div>
</div>



