<div class="attendee-details-form-container">
  <div class="attendee-details-form" ng-show="attendeesFormCtrl.isVisible">
    <form name="attendeesForm" ng-submit="attendeesForm.$valid && attendeesFormCtrl.addAttendee()" novalidate>
      <div class="form-header text-center">
        <span ng-show="attendeesFormCtrl.isCurrentMode('new')">Nouveau contact</span>
        <span ng-show="attendeesFormCtrl.isCurrentMode('update')">Information de contact</span>
      </div>

      <div ng-show="attendeesFormCtrl.isCurrentMode('update')">
        <div class="row" style="margin-top: 10px;">
          <div class="form-attendee-checkbox">
            <%= check_box_tag :attendee_presence, '', true, {class: 'regular-checkbox', 'ng-model' => 'attendeesFormCtrl.attendeeInForm.isPresent', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isThreadOwner || attendees_manager.readOnly'} %>
          </div>
          <div class="attendee-form-picto col-xs-1 client-picto-contact" ng-show="attendeesFormCtrl.attendeeInForm.isClient">
            <%= image_tag 'client_picto.png', width: 30, height: 30 %>
          </div>
          <div class="attendee-details col-xs-11" ng-class="{'col-xs-11': !attendeesFormCtrl.attendeeInForm.isClient, 'col-xs-10 attendee-details-client': attendeesFormCtrl.attendeeInForm.isClient}">
            <div class="row ellipsable" style="margin-left: 0;">
              <span class="attendee-usage-name">{{attendeesFormCtrl.attendeeInForm.firstName}} {{attendeesFormCtrl.attendeeInForm.lastName}}</span> <span class="attendee-company">{{attendeesFormCtrl.attendeeInForm.company}}</span> <span class="attendee-no-company" ng-if="attendee.company==''">Entreprise non définie</span>
            </div>

            <div class="row ellipsable" style="margin-left: 0; margin-top: -3px;">
              <cite class="attendee-email">{{attendeesFormCtrl.attendeeInForm.email}}</cite>
            </div>

            <!--<div class="row ellipsable" style="margin-left: 0">-->
              <!--<cite class="attendee-assistant" ng-show="attendee.assisted">Assisté par Sandrine Ayolé</cite>-->
              <!--<cite class="attendee-assistant" ng-show="attendee.isAssistant">Assistant(e)</cite>-->
            <!--</div>-->
          </div>
        </div>

        <div class="row" style="margin-top: 0px;">
          <div class="col-xs-12">
            <%= label_tag :email %>
            <%= email_field_tag :email, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.email', 'uib-typeahead' => "email for email in attendees_manager.getEmailsSuggestions($viewValue)", 'typeahead-on-select' => "attendeesFormCtrl.importContactInfos()", 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', 'ng-required' => '!attendeesFormCtrl.attendeeInForm.usageName.length > 0', class: 'form-control'} %>
          </div>
        </div>
      </div>

    <div class="row" ng-show="attendeesFormCtrl.isCurrentMode('new')" ng-class="{'header-row notClient': !attendeesFormCtrl.attendeeInForm.isClient, 'header-row isClient': attendeesFormCtrl.attendeeInForm.isClient}">
      <div ng-class="{'attendee-checkbox new-form-checkbox': !attendeesFormCtrl.attendeeInForm.isClient, 'new-form-checkbox new-form-attendee-checkbox': attendeesFormCtrl.attendeeInForm.isClient}">
        <%= check_box_tag :attendee_presence, '', true, {class: 'regular-checkbox', 'ng-model' => 'attendeesFormCtrl.attendeeInForm.isPresent'} %>
      </div>
      <div class="attendee-form-picto col-xs-1 client-picto-contact" ng-class="{'attendee-form-picto': !attendeesFormCtrl.attendeeInForm.isClient, 'new-attendee-form-picto': attendeesFormCtrl.attendeeInForm.isClient}" ng-show="attendeesFormCtrl.attendeeInForm.isClient">
        <%= image_tag 'client_picto.png', width: 30, height: 30 %>
      </div>
      <div class="attendee-details" ng-class="{'col-xs-12': !attendeesFormCtrl.attendeeInForm.isClient, 'col-xs-10 new-attendee-details-client': attendeesFormCtrl.attendeeInForm.isClient}" style="padding-left: 15px;">
          <%= label_tag :email %>
          <%= email_field_tag :email, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.email', 'uib-typeahead' => "email for email in attendees_manager.getEmailsSuggestions($viewValue)", 'typeahead-on-select' => "attendeesFormCtrl.importContactInfos()", 'ng-required' => '!attendeesFormCtrl.attendeeInForm.usageName.length > 0', class: 'form-control'} %>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-6" ng-class="{'need-ai-confirmation': attendeesFormCtrl.attendeeInForm.needAIConfirmation}" style="padding-right: 2px;">
          <%= label_tag :first_name %>
          <%= text_field_tag :first_name, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.firstName', 'ng-focus' => 'attendeesFormCtrl.firstNameFocus()', 'ng-keyup' => 'attendeesFormCtrl.attendeeInForm.firstLastNameKeyup($event)', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control', capitalize: true} %>
        </div>
        <div class="col-xs-6" ng-class="{'need-ai-confirmation': attendeesFormCtrl.attendeeInForm.needAIConfirmation}" style="padding-left: 0;">
          <%= label_tag :last_name %>
          <%= text_field_tag :last_name, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.lastName', 'ng-keyup' => 'attendeesFormCtrl.attendeeInForm.firstLastNameKeyup($event)', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control', capitalize:true} %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
        <%= label_tag :usage_name %>
        <%= text_field_tag :usage_name, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.usageName', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', 'ng-required' => '!attendeesFormCtrl.attendeeInForm.email.length > 0', class: 'form-control', capitalize:true} %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6" ng-class="{'need-ai-confirmation': attendeesFormCtrl.attendeeInForm.needAIConfirmation}">
            <%= label_tag :gender %>
            <br>
            <%= radio_button_tag 'gender', "M", true, 'ng-model' =>  'attendeesFormCtrl.attendeeInForm.gender', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'gender-radio-btn gender-masculin' %>
            <%= radio_button_tag 'gender', "F", true, 'ng-model' => 'attendeesFormCtrl.attendeeInForm.gender', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'gender-radio-btn gender-feminin' %>
            <%= radio_button_tag 'gender', "Unknown", true, 'ng-model' => 'attendeesFormCtrl.attendeeInForm.gender', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'gender-radio-btn gender-unknown' %>
        </div>
        <div class="col-xs-6 assistant-area">
          <div class="row" style="margin-top: 0;">
            <div class="col-xs-2">
              <%= check_box_tag :is_assistant, '', true, 'ng-model' =>  'attendeesFormCtrl.attendeeInForm.isAssistant', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', 'ng-click' => 'attendeesFormCtrl.checkAssistantConditions(attendeesForm)', class: 'form-control assistant-checkbox'%>
            </div>
            <div class="col-xs-10 form-checkbox-label">
              <%= label_tag :is_assistant %>
            </div>
          </div>

          <div class="row" style="margin-top: 0;">
            <div class="col-xs-2">
              <%= check_box_tag :assisted, '', true, 'ng-model' =>  'attendeesFormCtrl.attendeeInForm.assisted', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', 'ng-click' => 'attendeesFormCtrl.setAssistant()', class: 'form-control assistant-checkbox'%>
            </div>
            <div class="col-xs-10 form-checkbox-label">
              <%= label_tag :assisted %>
            </div>
          </div>
        </div>
      </div>

      <div class="row error-area" style="color:maroon" role="alert" ng-show="attendeesFormCtrl.displayAssistantEmailError">
        <div class="col-xs-12">
          Cette case ne peut être cochée que si le contact a une adresse email.
        </div>
      </div>

      <div class="row" ng-if="attendeesFormCtrl.attendeeInForm.isClient">
        <div class="col-xs-12">
          <%= label_tag :assisted_by %>
          <%= text_field_tag :assisted_by, "{{attendeesFormCtrl.attendeeInForm.assistantDisplayText()}}",{'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control'} %>
        </div>
      </div>

      <div ng-show="!attendeesFormCtrl.attendeeInForm.isClient && attendeesFormCtrl.attendeeInForm.assisted">
        <div class="row">
          <div class="col-xs-12">
            <%= label_tag :assisted_by %>
            <%= select_tag :assisted_by, options_for_select([]),{'ng-options' => '{email: attendee.email, displayName: attendee.displayNormalizedName(), guid: attendee.guid} as attendee.displayNormalizedName() for attendee in attendees | filter:{isAssistant:true}' , 'ng-change' => 'attendeesFormCtrl.assistedByChange(attendeesFormCtrl.attendeeInForm.assistedBy)' ,'ng-model' => 'attendeesFormCtrl.attendeeInForm.assistedBy', class: 'form-control'} %>
            </div>
        </div>
      </div>

        <div class="row">
          <div class="col-xs-12" ng-class="{'need-ai-confirmation': attendeesFormCtrl.attendeeInForm.needAIConfirmation}">
          <%= label_tag :company %>
          <%= text_field_tag :company, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.company', 'uib-typeahead' => "company for company in attendees_manager.getCompaniesNames() | filter:$viewValue", 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control', capitalize: true, autocomplete:"off"} %>
        </div>
    </div>

      <div ng-show="!attendeesFormCtrl.attendeeInForm.isAssistant">
        <div class="row" ng-show="attendeesFormCtrl.timezoneNeeded">
              <div class="col-xs-12">
              <%= label_tag :attendee_timezone, 'Timezone' %>
              <%= text_field_tag :attendee_timezone, "",{'ng-change' => 'attendeesFormCtrl.timezoneChanged(attendeesForm)', 'ng-model' => 'attendeesFormCtrl.attendeeInForm.timezone', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control' } %>
            </div>
          <div class="row error-area highlighted" ng-messages="attendeesForm.attendee_timezone.$error" style="color:grey" role="alert" id="error-area">
            <div class="col-xs-12">
              <div ng-message="timezoneFormat">Le format de la timezone n'est pas valide. Veuillez sélectionner une timezone à partir des choix proposés.</div>
            </div>
          </div>
        </div>
        </div>
    <div>
        <div class="row" style="margin-top: -3px;">
          <div class="col-xs-6" style="padding-right: 2px;">
            <%= label_tag :landline %>
            <%= text_field_tag :landline, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.landline', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control'} %>
          </div>
          <div class="col-xs-6" style="padding-left: 0;">
            <%= label_tag :mobile %>
            <%= text_field_tag :mobile, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.mobile', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control'} %>
          </div>
        </div>
    </div>
      <div ng-show="!attendeesFormCtrl.attendeeInForm.isAssistant">
        <div class="row">
            <div class="col-xs-12">
              <%= label_tag :skype_id %>
              <%= text_field_tag :skype_id, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.skypeId', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control'} %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <%= label_tag :conf_call_instructions %>
              <%= text_area_tag :conf_call_instructions, "",{'ng-model' => 'attendeesFormCtrl.attendeeInForm.confCallInstructions', 'ng-disabled' => 'attendeesFormCtrl.attendeeInForm.isClient || attendees_manager.readOnly', class: 'form-control'} %>
            </div>
        </div>
      </div>
      <div class="row error-area" ng-messages="attendeesForm.email.$error" style="color:grey" role="alert" id="email-error-area">
        <div class="col-xs-12">
          <div ng-message="required" ng-hide="attendeesForm.attendeeInForm.isAssistant">Ce contact a besoin d'avoir une adresse email ou un nom d'usage afin d'être enregistré.</div>
          <div ng-message="required" ng-show="attendeesForm.attendeeInForm.isAssistant">Ce contact a besoin d'avoir une adresse email ou un nom d'usage afin d'être enregistré.</div>
          <div ng-message="email">Veuillez spécifier un email valide.</div>
        </div>
      </div>

      <div class="row pull-right" style="margin-top: 0px; margin-right: 20px; margin-bottom: 40px;">

        <div ng-if="!attendeesFormCtrl.attendeeInForm.isThreadOwner && !attendees_manager.readOnly">
          <button type="button" class="cancel-btn" ng-click='attendeesFormCtrl.cancelAttendeeForm()'>
            Cancel
          </button>

          <span ng-if="attendeesFormCtrl.attendeeInForm.needAIConfirmation">
            <%= submit_tag 'Confirm', {'ng-click' => 'attendeesFormCtrl.checkFormValidations(attendeesForm)', class: 'ai-confirm-btn-form'} %>
          </span>

          <span ng-if="!attendeesFormCtrl.attendeeInForm.needAIConfirmation">
            <%= submit_tag 'Ok', {'ng-click' => 'attendeesFormCtrl.checkFormValidations(attendeesForm)'} %>
          </span>

        </div>
        <div ng-if="attendeesFormCtrl.attendeeInForm.isThreadOwner || attendees_manager.readOnly">

          <button type="button" class="cancel-btn" ng-click='attendeesFormCtrl.cancelAttendeeForm()' style="background-color: #0099CC;">
            OK
          </button>
        </div>

      </div>
    </form>
  </div>
</div>