<div class="col-xs-2 btn-group attendeeStatus" uib-dropdown is-open="status.isopen" ng-init="initAttendeeStatus(attendee)">
  <button id="single-button" type="button" class="" uib-dropdown-toggle ng-disabled="attendee.isThreadOwner || attendees_manager.readOnly">
    <i ng-if="attendee.status == 'present'" class="fa fa-lg fa-check-circle" aria-hidden="true"></i>
    <i ng-if="attendee.status == 'optional'" class="fa fa-lg fa-question-circle" aria-hidden="true"></i>
    <i ng-if="attendee.status == 'not_present'" class="fa fa-lg fa-times-circle" aria-hidden="true"></i>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li ng-class="{ 'selectedStatus': attendee.status == 'present' }" role="menuitem"><a ng-click="setStatus(attendee, 'present')" href="#"><i class="fa fa-lg fa-check-circle" aria-hidden="true"></i></a></li>
    <li ng-class="{ 'selectedStatus': attendee.status == 'optional' }" role="menuitem"><a ng-click="setStatus(attendee, 'optional')" href="#"><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></a></li>
    <li ng-class="{ 'selectedStatus': attendee.status == 'not_present' }" role="menuitem"><a ng-click="setStatus(attendee, 'not_present')"href="#"><i class="fa fa-lg fa-times-circle" aria-hidden="true"></i></a></li>
  </ul>
</div>

<div class="col-xs-1 client-picto-contact" ng-show="attendee.isClient">
  <%= image_tag 'client_picto.png', width: 20, height: 20 %>
</div>
<div class="col-xs-1 client-picto-contact" ng-show="attendee.displayAsLinkedAttendee()">
  <%= image_tag 'linked_participant_form.png', width: 20, height: 20, 'ng-show' => 'attendee.isPresent', 'title' => 'Participant lié' %>
  <%= image_tag 'linked_participant_form_grey.png', width: 20, height: 20, 'ng-hide' => 'attendee.isPresent', 'title' => 'Participant lié' %>
</div>


<div class="attendee-details" ng-class="{'col-xs-8': attendee.usingPictogram, 'col-xs-9': !attendee.usingPictogram}">

  <div ng-show="!attendees_manager.readOnly && attendee.showAIConfirmation()">
    <div class="row ellipsable">
      <span class="attendee-usage-name">{{attendee.email}}</span><span class="attendee-no-company" ng-if="attendee.company==''">Entreprise non définie</span>
    </div>
  </div>

  <div ng-show="!attendee.showAIConfirmation() || attendees_manager.readOnly">
    <div class="row ellipsable">
      <span class="attendee-usage-name">{{(attendee.gender == 'M' || attendee.gender == 'F') ? attendee.displayGender() : '' }} {{attendee.firstName}} {{attendee.lastName}}</span><span class="attendee-no-company" ng-if="attendee.company==''">Entreprise non définie</span>
    </div>

    <div class="row ellipsable" style="margin-top: -3px;">
      <cite class="attendee-email">{{attendee.email}}</cite>
    </div>

    <div ng-if="attendees_manager.usageNamev2Enabled && !attendee.isClient" class="row ellipsable usage-name-input-container">
      <div class="col-xs-6" style="padding-right: 6px; padding-left:0;">
        <%= label_tag :first_name, 'Prénom' %>
        <%= text_field_tag :first_name, "",{'ng-model' => 'attendee.firstName', class: 'form-control', 'ng-keyup' => 'attendee.firstLastNameKeyup()'} %>
      </div>
      <div class="col-xs-6" style="padding-left: 6px; padding-right:0;">
        <%= label_tag :last_name, 'Nom' %>
        <%= text_field_tag :last_name, "",{'ng-model' => 'attendee.lastName', class: 'form-control' , 'ng-keyup' => 'attendee.firstLastNameKeyup()'} %>
      </div>
    </div>

    <div class="row ellispable usage-name-input-container" ng-if="!attendees_manager.usageNamev2Enabled">
      <%= label_tag :usage_name %>
      <%= text_field_tag :usage_name, "",{'ng-model' => 'attendee.usageName', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', class: 'form-control', capitalize:true} %>
    </div>
  </div>

  <div class="row ellipsable" ng-show="attendee.assisted && attendee.state != 'ghost'">
      <cite class="attendee-assistant" ng-show="attendee.assisted">Assisté par {{attendee.assistedBy.displayName || attendee.assistedBy.usageName()}} ({{attendee.assistedBy.email}})</cite>
  </div>

  <div class="row ellipsable" ng-show="attendee.isAssistant">
      <cite class="attendee-assistant" ng-show="attendee.isAssistant">Assistant(e)</cite>
  </div>
</div>
<div class="attendee-update-button-container col-xs-1" ng-class="{'client-correction': attendee.isClient}">
  <button ng-click='attendees_manager.displayAttendeeUpdateForm(attendee)'>
    <%= image_tag 'edit_contact_button.png' %>
  </button>
</div>

<div class="attendee-additional-informations col-xs-offset-1" >

  <div ng-show="!attendees_manager.readOnly && attendee.showAIConfirmation()">
    <div class="col-xs-6 need-ai-confirmation" style="padding-right: 6px; padding-left:0;">
      <%= label_tag :first_name, 'Prénom' %>
      <%= text_field_tag :first_name, "",{'ng-model' => 'attendee.firstName', class: 'form-control', 'ng-keyup' => 'attendee.firstLastNameKeyup()'} %>
    </div>
    <div class="col-xs-6 need-ai-confirmation" style="padding-left: 6px; padding-right:0;">
      <%= label_tag :last_name, 'Nom' %>
      <%= text_field_tag :last_name, "",{'ng-model' => 'attendee.lastName', class: 'form-control' , 'ng-keyup' => 'attendee.firstLastNameKeyup()'} %>
    </div>

    <div class="col-xs-12 usage-name-input-container" ng-if="!attendees_manager.usageNamev2Enabled">
      <%= label_tag :usage_name %>
      <%= text_field_tag :usage_name, "",{'ng-model' => 'attendee.usageName', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', class: 'form-control', capitalize:true, 'ng-keyup' => 'attendee.usageNameKeyup()'} %>
    </div>

    <div class="col-xs-12 need-ai-confirmation" style="padding-left: 0; padding-right:0;">
      <%= label_tag :company, 'Entreprise' %>
      <%= text_field_tag :company, "",{'ng-model' => 'attendee.company', class: 'form-control'} %>
    </div>

    <div class="col-xs-12 need-ai-confirmation">
      <%= label_tag :gender %>
      <br>
      <%= radio_button_tag 'gender', "M", true, 'ng-model' =>  'attendee.gender', class: 'gender-radio-btn gender-masculin' %>
      <%= radio_button_tag 'gender', "F", true, 'ng-model' => 'attendee.gender', class: 'gender-radio-btn gender-feminin' %>
      <%= radio_button_tag 'gender', "Unknown", true, 'ng-model' => 'attendee.gender', class: 'gender-radio-btn gender-unknown' %>
    </div>

    <div class="col-xs-12" style="padding-left: 0; padding-right:0;margin-top:5px;">

      <button type="button" class="ai-confirm-btn" ng-click="attendee.confirmAI()">
        Confirm
      </button>
    </div>
  </div>

  <div class="row ellipsable timezone" ng-show="displayAttendeesTimezone || attendee.isClient">
    <label for="timezone">{{ attendee.isClient && currentAppointmentIsVirtual() ? "Timezone for this virtual meeting" : "Timezone" }}</label>
    <%= text_field_tag :timezone, '', {'ng-model' => 'attendee.timezone', 'ng-disabled' => '(attendee.isClient && !currentAppointmentIsVirtual()) || attendees_manager.readOnly', class: 'form-control attendee-timezone'} %>
  </div>

  <div ng-if="!attendee.isClient">

    <div ng-show="displayAttendeesInformations()">
      <div class="row ellipsable missing-call-informations" ng-show="attendee.hasMissingInformations"><span style="margin-left: 27px;color: #F6BB67;">{{attendees_manager.displayMissingInformationsText()}}</span></div>
      <div class="row ellipsable additional-informations-fields" style="margin-top: -3px;">
        <div ng-if="missingInformationLookedFor == 'landline_or_mobile'">
          <div class="col-xs-6" style="padding-right: 6px; padding-left:0;">
            <%= label_tag :landline, 'Tel Fix.' %>
            <%= text_field_tag :landline, "",{'ng-model' => 'attendee.landline', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', 'ng-keyup' => 'attendees_manager.callingInformationsChanged()', class: 'form-control'} %>
          </div>
          <div class="col-xs-6" style="padding-left: 6px; padding-right:0;">
            <%= label_tag :mobile, 'Tel Mob.' %>
            <%= text_field_tag :mobile, "",{'ng-model' => 'attendee.mobile', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', 'ng-keyup' => 'attendees_manager.callingInformationsChanged()', class: 'form-control'} %>
          </div>
        </div>
        <div ng-if="missingInformationLookedFor == 'mobile_only'">
          <div class="col-xs-12" style="padding-left: 0; padding-right:0;">
            <%= label_tag :mobile, 'Tel Mob.' %>
            <%= text_field_tag :mobile, "",{'ng-model' => 'attendee.mobile', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', 'ng-keyup' => 'attendees_manager.callingInformationsChanged()', class: 'form-control'} %>
          </div>
        </div>
        <div ng-if="missingInformationLookedFor == 'skype_only'">
          <div class="col-xs-12" style="padding-left: 0; padding-right:0;">
            <%= label_tag 'skypeId', 'Skype' %>
            <%= text_field_tag 'skypeId', "",{'ng-model' => 'attendee.skypeId', 'ng-disabled' => 'attendee.isClient || attendees_manager.readOnly', class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>