<script>
  $(function() {
      $(".sound-activator").click(function() {
          $(this).toggleClass("activated");
          var activated = $(this).hasClass("activated");
              $.ajax({
                  url: "change_sound",
                  type: "post",
                  data: {
                      activated: activated
                  }
              });
      });
  });
</script>
<div class="header jd-global-header">
    <div class="sound-activator <%= (session[:sound_is_activated])?"activated":"" %>">
      <div class="sound-activated"></div>
      <div class="sound-disactivated"></div>
    </div>
    <%= link_to "/" do %>
      JulieDesk Backoffice
      <span class="version">2.0</span>
    <% end %>
    <% if session[:privilege] == "admin" %>
        <span class="global-todo-count"><%= MessagesThread.items_to_classify_count %></span>
    <% end %>
    <%= audio_tag "ding.mp3", id: "tada-sound", preload: "auto" %>
    <div class="logged-as">
      <%=  session[:user_name] %> -
      <%= link_to "My stats (#{OperatorActionsGroup.where(operator_id: session[:operator_id], review_status: OperatorActionsGroup::REVIEW_STATUS_TO_LEARN).count})", :my_stats_review_operators, class: "my-stats-link" %> -
      <%= link_to "Disconnect", :logout, class: "disconnect-link" %>
    </div>
</div>