<!DOCTYPE html>
<html>
<head>
  <title>JuliedeskBackoffice</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/f5e64c5081.js"></script>
  <script src="/javascripts/pusher.min.js"></script>
  <script>
    $(function() {
        // To measure internet speed
        window.trackPing();
    });
  </script>
</head>
<body style="" data-operator-id="<%= session[:operator_id] %>" data-operator-privilege="<%= session[:privilege] %>">
<%= render partial: "common/features" %>
<%= render partial: "common/chat" %>
<%= yield %>
<script>
    window.addEventListener('focus', function() {
        trackActionV2('Focus_in_backoffice', {url: window.location.href})
    });

    window.addEventListener('blur', function() {
        trackActionV2('Focus_out_backoffice', {url: window.location.href})
    });
</script>

<% if ENV['ZENDESK_WIDGET_ACTIVATED'].present? %>
    <%= render partial: 'common/zendesk_widget' %>
<% end %>

<%= render partial: "common/footer" %>

</body>
</html>