<!DOCTYPE html>
<html>
<head>
  <title>JuliedeskBackoffice</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  <%= javascript_include_tag 'dashboard' %>
  <%= csrf_meta_tags %>
</head>
<body data-operator-id="<%= session[:operator_id] %>" data-operator-privilege="<%= session[:privilege] %>">
<%= render partial: "common/features" %>
<%= render partial: "common/chat" %>
<%= yield %>


<% if ENV['ZENDESK_WIDGET_ACTIVATED'].present? %>
    <%= render partial: 'common/zendesk_widget' %>
<% end %>


</body>
</html>