<!DOCTYPE html>
<html>
<head>
  <title>JuliedeskBackoffice</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  <%= javascript_include_tag 'dashboard' %>
  <%= csrf_meta_tags %>

  <script src="/javascripts/pusher.min.js"></script>
</head>
<body data-operator-id="<%= session[:operator_id] %>" data-operator-privilege="<%= session[:privilege] %>">
<%= render partial: "common/features" %>
<%= render partial: "common/chat" %>
<%= yield %>

<script>
    window.addEventListener('focus', function() {
        trackActionV2('Focus_in_backoffice', {url: window.location.href})
    });

    window.addEventListener('blur', function() {
        trackActionV2('Focus_out_backoffice', {url: window.location.href})
    });
</script>
</body>
</html>