<!DOCTYPE html>
<html>
<head>
  <title>JuliedeskBackoffice</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'stats', media: 'all' %>
  <%= javascript_include_tag 'stats' %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= yield %>
</body>
</html>
